.container
	.catalog-wrapper.catalog-wrapper-event.catalog-wrapper-ofertas-de-verano
		section.catalog
			.row
				.col-xs-12.col-md-4.col-lg-3
					div(style='width:100%; height:auto')
						#sector_productos
							.left.original.stickIt
								include ./llamados.pug

				.col-xs-12.col-md-8.col-lg-9
					.catalog-container.catalog-ofertas-de-verano
						a.catalog-product.catalog-item(href='/canon-combo-eos-44-2045180976132p', data-unique-id='569069')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt='CANON COMBO EOS 44', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2045180976132/2045180976132_2.jpg', style='visibility: visible;')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2045180976132/2045180976132-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2045180976132/2045180976132-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2045180976132/2045180976132-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2045180976132/2045180976132-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2045180976132/2045180976132_2.jpg', width='244', alt='CANON COMBO EOS 44')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') CANON COMBO EOS 44 
									span.catalog-product-list-price Normal: S/ 2,999.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,799.00
									span.catalog-discount-tag -40%
						a.catalog-product.catalog-item(href='/citizen-reloj-ed8142-51p-para-mujer-dorado-2012181442003p', data-unique-id='592139')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt='CITIZEN RELOJ ED8142-51P PARA MUJER - DORADO', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181442003/2012181442003_2.jpg', style='visibility: visible;')
								.product-preview
									.product-image-wrapper.is-active(style='position: relative;')
										img.is-loaded(width='244', alt='', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181442003/2012181442003-1.jpg', style='visibility: visible;')
									.product-image-wrapper.is-active-previous(style='position: relative;')
										img.is-loaded(width='244', alt='CITIZEN RELOJ ED8142-51P PARA MUJER - DORADO', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181442003/2012181442003_2.jpg', style='visibility: visible;')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') CITIZEN RELOJ ED8142-51P PARA MUJER - DORADO 
									span.catalog-product-offer-price.best-price Internet: S/ 799.00
						a.catalog-product.catalog-item(href='/citizen-reloj-an8040-54l-para-hombre-plateado-2012181441983p', data-unique-id='592143')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt='CITIZEN RELOJ AN8040-54L PARA HOMBRE - PLATEADO', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181441983/2012181441983_2.jpg', style='visibility: visible;')
								.product-preview.is-rotating
									.product-image-wrapper.is-active-previous.is-active(style='position: relative;')
										img.is-loaded(width='244', alt='', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181441983/2012181441983-1.jpg', style='visibility: visible;')
									.product-image-wrapper.is-active-previous(style='position: relative;')
										img.is-loaded(width='244', alt='CITIZEN RELOJ AN8040-54L PARA HOMBRE - PLATEADO', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181441983/2012181441983_2.jpg', style='visibility: visible;')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') CITIZEN RELOJ AN8040-54L PARA HOMBRE - PLATEADO 
									span.catalog-product-offer-price.best-price Internet: S/ 799.00
						a.catalog-product.catalog-item(href='/guess-reloj-w0660g1-para-hombre-marron-2012181441969p', data-unique-id='592147')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt='GUESS RELOJ W0660G1 PARA HOMBRE - MARRÓN', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181441969/2012181441969_2.jpg', style='visibility: visible;')
								.product-preview
									.product-image-wrapper.is-active-previous.is-active(style='position: relative;')
										img.is-loaded(width='244', alt='', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181441969/2012181441969-1.jpg', style='visibility: visible;')
									.product-image-wrapper.is-active-previous(style='position: relative;')
										img.is-loaded(width='244', alt='GUESS RELOJ W0660G1 PARA HOMBRE - MARRÓN', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181441969/2012181441969_2.jpg', style='visibility: visible;')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') GUESS RELOJ W0660G1 PARA HOMBRE - MARRÓN 
									span.catalog-product-list-price Normal: S/ 999.00
									span.catalog-product-offer-price.best-price Internet: S/ 499.00
									span.catalog-discount-tag -50%
						a.catalog-product.catalog-item(href='/guess-reloj-w0823l6-para-mujer-negro-2012181441938p', data-unique-id='592153')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt='GUESS RELOJ W0823L6 PARA MUJER - NEGRO', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181441938/2012181441938_2.jpg', style='visibility: visible;')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181441938/2012181441938-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181441938/2012181441938_2.jpg', width='244', alt='GUESS RELOJ W0823L6 PARA MUJER - NEGRO')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') GUESS RELOJ W0823L6 PARA MUJER - NEGRO 
									span.catalog-product-list-price Normal: S/ 799.00
									span.catalog-product-offer-price.best-price Internet: S/ 299.00
									span.catalog-discount-tag -63%
						a.catalog-product.catalog-item(href='/guess-reloj-w0627l9-para-mujer-plateado-2012181441914p', data-unique-id='592157')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt='GUESS RELOJ W0627L9 PARA MUJER - PLATEADO', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181441914/2012181441914_2.jpg', style='visibility: visible;')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181441914/2012181441914-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012181441914/2012181441914_2.jpg', width='244', alt='GUESS RELOJ W0627L9 PARA MUJER - PLATEADO')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') GUESS RELOJ W0627L9 PARA MUJER - PLATEADO 
									span.catalog-product-list-price Normal: S/ 799.00
									span.catalog-product-offer-price.best-price Internet: S/ 299.00
									span.catalog-discount-tag -63%
						a.catalog-product.catalog-item(href='/acer-notebook-e5-575g-592h-156-core-i5-1tb-6gb-negro-2004179723249p', data-unique-id='597025')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt='ACER NOTEBOOK E5-575G-592H 15.6" CORE I5 1TB 6GB - NEGRO', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179723249/2004179723249_2.jpg', style='visibility: visible;')
								.product-preview
									.product-image-wrapper.is-active(style='position: relative;')
										img.is-loaded(width='244', alt='', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179723249/2004179723249-1.jpg', style='visibility: visible;')
									.product-image-wrapper(style='position: relative;')
										img.is-loaded(width='244', alt='', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179723249/2004179723249-3.jpg', style='visibility: visible;')
									.product-image-wrapper(style='position: relative;')
										img.is-loaded(width='244', alt='', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179723249/2004179723249-4.jpg', style='visibility: visible;')
									.product-image-wrapper(style='position: relative;')
										img.is-loaded(width='244', alt='', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179723249/2004179723249-2.jpg', style='visibility: visible;')
									.product-image-wrapper.is-active-previous(style='position: relative;')
										img.is-loaded(width='244', alt='ACER NOTEBOOK E5-575G-592H 15.6" CORE I5 1TB 6GB - NEGRO', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179723249/2004179723249_2.jpg', style='visibility: visible;')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') ACER NOTEBOOK E5-575G-592H 15.6" CORE I5 1TB 6GB - NEGRO 
									span.catalog-product-offer-price.best-price Internet: S/ 2,199.00
						a.catalog-product.catalog-item(href='/mabe-lavadora-carga-superior-lma12sxi1-12kg-gris-2003181414411p', data-unique-id='601047')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt='MABE LAVADORA CARGA SUPERIOR LMA12SXI1 12KG - GRIS', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2003181414411/2003181414411_2.jpg', style='visibility: visible;')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2003181414411/2003181414411-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2003181414411/2003181414411_2.jpg', width='244', alt='MABE LAVADORA CARGA SUPERIOR LMA12SXI1 12KG - GRIS')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') MABE LAVADORA CARGA SUPERIOR LMA12SXI1 12KG - GRIS 
									span.catalog-product-list-price Normal: S/ 1,099.00
									span.catalog-product-offer-price.best-price Internet: S/ 699.00
									span.catalog-discount-tag -36%
						a.catalog-product.catalog-item(href='/samsung-refrigeradora-no-frost-rt32k5730s8pe-318l-inox-2003181298363p', data-unique-id='624543')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt='SAMSUNG REFRIGERADORA NO FROST RT32K5730S8/PE 318L - INOX', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2003181298363/2003181298363_2.jpg', style='visibility: visible;')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2003181298363/2003181298363-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2003181298363/2003181298363-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2003181298363/2003181298363-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2003181298363/2003181298363_2.jpg', width='244', alt='SAMSUNG REFRIGERADORA NO FROST RT32K5730S8/PE 318L - INOX')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') SAMSUNG REFRIGERADORA NO FROST RT32K5730S8/PE 318L - INOX 
									span.catalog-product-list-price Normal: S/ 2,099.00
									span.catalog-product-offer-price Internet: S/ 1,599.00
									span.catalog-product-card-price
										| S/ 1,399.00 
										img(src='/images/logo-aon.png', alt='Precio Tarjeta Ripley')
									span.catalog-discount-tag -33%
									span.catalog-discount-tag -33%
						a.catalog-product.catalog-item(href='/nike-zapatillas-cour-749867-para-mujer-2026181488725', data-unique-id='627952')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt='NIKE ZAPATILLAS COUR 749867 PARA MUJER', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026181488725/2026181488725_2.jpg', style='visibility: visible;')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') NIKE ZAPATILLAS COUR 749867 PARA MUJER 
									span.catalog-product-offer-price Internet: S/ 229.00
									span.catalog-product-card-price
										| S/ 183.20 
										img(src='/images/logo-aon.png', alt='Precio Tarjeta Ripley')
									span.catalog-discount-tag -20%
						a.catalog-product.catalog-item(href='/samsung-lavadora-carga-superior-wa13f5l2udw1pe-13kg-blanco-2003181298394p', data-unique-id='644511')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt='SAMSUNG LAVADORA CARGA SUPERIOR WA13F5L2UDW1PE 13KG - BLANCO', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2003181298394/2003181298394_2.jpg', style='visibility: visible;')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2003181298394/2003181298394-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2003181298394/2003181298394-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2003181298394/2003181298394-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2003181298394/2003181298394_2.jpg', width='244', alt='SAMSUNG LAVADORA CARGA SUPERIOR WA13F5L2UDW1PE 13KG - BLANCO')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') SAMSUNG LAVADORA CARGA SUPERIOR WA13F5L2UDW1PE 13KG - BLANCO 
									span.catalog-product-list-price Normal: S/ 1,349.00
									span.catalog-product-offer-price Internet: S/ 999.00
									span.catalog-product-card-price
										| S/ 899.00 
										img(src='/images/logo-aon.png', alt='Precio Tarjeta Ripley')
									span.catalog-discount-tag -33%
									span.catalog-discount-tag -33%
						a.catalog-product.catalog-item(href='/lg-smart-tv-55-uhd-55uh6030-2018179689320p', data-unique-id='653003')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt="LG SMART TV 55'' UHD 55UH6030", src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018179689320/2018179689320_2.jpg', style='visibility: visible;')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018179689320/2018179689320-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018179689320/2018179689320-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018179689320/2018179689320-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018179689320/2018179689320_2.jpg', width='244', alt="LG SMART TV 55'' UHD 55UH6030")
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') LG SMART TV 55'' UHD 55UH6030 
									span.catalog-product-list-price Normal: S/ 3,999.00
									span.catalog-product-offer-price.best-price Internet: S/ 2,599.00
									span.catalog-discount-tag -35%
						a.catalog-product.catalog-item(href='/advance-laptop-smartpad-2-en-1-116-32gb-2gb-negro-2004183771748p', data-unique-id='653505')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt="ADVANCE LAPTOP SMARTPAD 2 EN 1 11.6'' 32GB 2GB - NEGRO", src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2004183771748/2004183771748_2.jpg', style='visibility: visible;')
								.product-preview
									.product-image-wrapper.is-active(style='position: relative;')
										img.is-loaded(width='244', alt='', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2004183771748/2004183771748-1.jpg', style='visibility: visible;')
									.product-image-wrapper.is-active-previous(style='position: relative;')
										img.is-loaded(width='244', alt="ADVANCE LAPTOP SMARTPAD 2 EN 1 11.6'' 32GB 2GB - NEGRO", src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2004183771748/2004183771748_2.jpg', style='visibility: visible;')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') ADVANCE LAPTOP SMARTPAD 2 EN 1 11.6'' 32GB 2GB - NEGRO 
									span.catalog-product-list-price Normal: S/ 999.00
									span.catalog-product-offer-price.best-price Internet: S/ 649.00
									span.catalog-discount-tag -35%
						a.catalog-product.catalog-item(href='/asus-laptop-x555la-xx2264t-156-core-i5-1tb-4gb-negro-2004179764389p', data-unique-id='661036')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt="ASUS LAPTOP X555LA-XX2264T 15.6'' CORE i5 1TB 4GB - NEGRO", src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2004179764389/2004179764389_2.jpg', style='visibility: visible;')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2004179764389/2004179764389-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2004179764389/2004179764389_2.jpg', width='244', alt="ASUS LAPTOP X555LA-XX2264T 15.6'' CORE i5 1TB 4GB - NEGRO")
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') ASUS LAPTOP X555LA-XX2264T 15.6'' CORE i5 1TB 4GB - NEGRO 
									span.catalog-product-list-price Normal: S/ 2,299.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,599.00
									span.catalog-discount-tag -30%
						a.catalog-product.catalog-item(href='/hp-laptop-240-g5-14-core-i3-1tb-4gb-negro-2004184142523p', data-unique-id='669071')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt="HP LAPTOP 240 G5 14'' CORE i3 1TB 4GB - NEGRO", src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2004184142523/2004184142523_2.jpg', style='visibility: visible;')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2004184142523/2004184142523-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2004184142523/2004184142523-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2004184142523/2004184142523_2.jpg', width='244', alt="HP LAPTOP 240 G5 14'' CORE i3 1TB 4GB - NEGRO")
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') HP LAPTOP 240 G5 14'' CORE i3 1TB 4GB - NEGRO 
									span.catalog-product-list-price Normal: S/ 1,799.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,349.00
									span.catalog-discount-tag -25%
						a.catalog-product.catalog-item(href='/gym-source-banca-abdominal-gs-3601-1-2022178753524p', data-unique-id='673501')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt='GYM SOURCE BANCA ABDOMINAL GS 3601 1', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2022178753524/2022178753524_2.jpg', style='visibility: visible;')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') GYM SOURCE BANCA ABDOMINAL GS 3601 1 
									span.catalog-product-offer-price.best-price Internet: S/ 429.00
						a.catalog-product.catalog-item(href='/gym-source-spinning-gs-8913-2022178753333p', data-unique-id='673505')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt='GYM SOURCE SPINNING GS 8913', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2022178753333/2022178753333_2.jpg', style='visibility: visible;')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') GYM SOURCE SPINNING GS 8913 
									span.catalog-product-offer-price.best-price Internet: S/ 799.00
						a.catalog-product.catalog-item(href='/gym-source-trotadora-gs-3408-1-2022178753449p', data-unique-id='673507')
							.product-image(style='position:relative')
								.product-image-wrapper(style='position: relative;')
									img.is-loaded(alt='GYM SOURCE TROTADORA GS 3408 1', src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/2022178753449/2022178753449_2.jpg', style='visibility: visible;')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') GYM SOURCE TROTADORA GS 3408 1 
									span.catalog-product-list-price Normal: S/ 1,699.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,399.00
									span.catalog-discount-tag -18%
						a.catalog-product.catalog-item(href='/rosen-cama-beat-2-plazas-dormitorio-charm-ripley-home-sk-387-161122-1045', data-unique-id='598501')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/SK-387-161122-1045/SK-387-161122-1045_2.jpg', alt='ROSEN CAMA BEAT 2 PLAZAS + DORMITORIO CHARM RIPLEY HOME')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/SK-387-161122-1045/SK-387-161122-1045-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/SK-387-161122-1045/SK-387-161122-1045-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/SK-387-161122-1045/SK-387-161122-1045-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/SK-387-161122-1045/SK-387-161122-1045-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/SK-387-161122-1045/SK-387-161122-1045_2.jpg', width='244', alt='ROSEN CAMA BEAT 2 PLAZAS + DORMITORIO CHARM RIPLEY HOME')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') ROSEN CAMA BEAT 2 PLAZAS + DORMITORIO CHARM RIPLEY HOME 
									span.catalog-product-list-price Normal: S/ 1,596.00
									span.catalog-product-offer-price.best-price Internet: S/ 999.00
									span.catalog-discount-tag -37%
						a.catalog-product.catalog-item(href='/playstation-4-slim-uncharted-4-a-thiefs-end-pes-2017-sk-172-170131-1241', data-unique-id='671001')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-172-170131-1241/SK-172-170131-1241_2.jpg', alt="PLAYSTATION 4 SLIM + UNCHARTED 4 A THIEF'S END + PES 2017")
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-172-170131-1241/SK-172-170131-1241-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-172-170131-1241/SK-172-170131-1241-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-172-170131-1241/SK-172-170131-1241_2.jpg', width='244', alt="PLAYSTATION 4 SLIM + UNCHARTED 4 A THIEF'S END + PES 2017")
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') PLAYSTATION 4 SLIM + UNCHARTED 4 A THIEF'S END + PES 2017 
									span.catalog-product-list-price Normal: S/ 2,138.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,699.00
									span.catalog-discount-tag -21%
						a.catalog-product.catalog-item(href='/call-of-duty-black-ops-iii-ps4-bundle-pes-2017-sk-172-170131-1242', data-unique-id='671002')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-172-170131-1242/SK-172-170131-1242_2.jpg', alt='CALL OF DUTY BLACK OPS III PS4  BUNDLE + PES 2017')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-172-170131-1242/SK-172-170131-1242-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-172-170131-1242/SK-172-170131-1242-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-172-170131-1242/SK-172-170131-1242_2.jpg', width='244', alt='CALL OF DUTY BLACK OPS III PS4  BUNDLE + PES 2017')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') CALL OF DUTY BLACK OPS III PS4 BUNDLE + PES 2017 
									span.catalog-product-list-price Normal: S/ 2,138.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,499.00
									span.catalog-discount-tag -30%
						a.catalog-product.catalog-item(href='/juego-de-comedor-rectangular-soria-6-sillas-sk-149-991230-1259', data-unique-id='681001')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-149-991230-1259/SK-149-991230-1259_2.jpg', alt='JUEGO DE COMEDOR RECTANGULAR SORIA + 6 SILLAS')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-149-991230-1259/SK-149-991230-1259-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-149-991230-1259/SK-149-991230-1259-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-149-991230-1259/SK-149-991230-1259_2.jpg', width='244', alt='JUEGO DE COMEDOR RECTANGULAR SORIA + 6 SILLAS')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') JUEGO DE COMEDOR RECTANGULAR SORIA + 6 SILLAS 
									span.catalog-product-list-price Normal: S/ 4,713.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,999.00
									span.catalog-discount-tag -58%
						a.catalog-product.catalog-item(href='/juego-de-comedor-cuadrado-soria-4-sillas-sk-149-991230-1260', data-unique-id='681002')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-149-991230-1260/SK-149-991230-1260_2.jpg', alt='JUEGO DE COMEDOR CUADRADO SORIA + 4 SILLAS')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-149-991230-1260/SK-149-991230-1260-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-149-991230-1260/SK-149-991230-1260-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_3/SK-149-991230-1260/SK-149-991230-1260_2.jpg', width='244', alt='JUEGO DE COMEDOR CUADRADO SORIA + 4 SILLAS')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') JUEGO DE COMEDOR CUADRADO SORIA + 4 SILLAS 
									span.catalog-product-list-price Normal: S/ 2,775.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,199.00
									span.catalog-discount-tag -57%
						a.catalog-product.catalog-item(href='/samsung-smart-tv-uhd-49-curvo-49ku6500-2018177005078p', data-unique-id='433529')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2018177005078/2018177005078_2.jpg', alt='SAMSUNG SMART TV UHD 49" CURVO 49KU6500')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2018177005078/2018177005078-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2018177005078/2018177005078-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2018177005078/2018177005078-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2018177005078/2018177005078_2.jpg', width='244', alt='SAMSUNG SMART TV UHD 49" CURVO 49KU6500')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') SAMSUNG SMART TV UHD 49" CURVO 49KU6500 
									span.catalog-product-list-price Normal: S/ 3,999.00
									span.catalog-product-offer-price.best-price Internet: S/ 2,599.00
									span.catalog-discount-tag -35%
						a.catalog-product.catalog-item(href='/samsung-smart-tv-uhd-40-40ku6000-2018177005047p', data-unique-id='433535')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2018177005047/2018177005047_2.jpg', alt='SAMSUNG SMART TV UHD 40" 40KU6000')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2018177005047/2018177005047-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2018177005047/2018177005047-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2018177005047/2018177005047-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2018177005047/2018177005047_2.jpg', width='244', alt='SAMSUNG SMART TV UHD 40" 40KU6000')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') SAMSUNG SMART TV UHD 40" 40KU6000 
									span.catalog-product-list-price Normal: S/ 2,499.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,599.00
									span.catalog-discount-tag -36%
						a.catalog-product.catalog-item(href='/hp-laptop-14-am012la-14-core-i5-1tb-4gb-blanca-2004177065631p', data-unique-id='434529')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004177065631/2004177065631_2.jpg', alt="HP LAPTOP 14-AM012LA 14'' CORE i5 1TB 4GB - BLANCA")
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004177065631/2004177065631-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004177065631/2004177065631-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004177065631/2004177065631_2.jpg', width='244', alt="HP LAPTOP 14-AM012LA 14'' CORE i5 1TB 4GB - BLANCA")
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') HP LAPTOP 14-AM012LA 14'' CORE i5 1TB 4GB - BLANCA 
									span.catalog-product-list-price Normal: S/ 1,999.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,699.00
									span.catalog-discount-tag -15%
						a.catalog-product.catalog-item(href='/hp-laptop-14-am013la-14core-i3-500gb-4gb-blanco-2004177065594p', data-unique-id='434537')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004177065594/2004177065594_2.jpg', alt="HP LAPTOP 14-AM013LA 14''CORE i3 500GB 4GB - BLANCO")
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004177065594/2004177065594-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004177065594/2004177065594-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004177065594/2004177065594-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004177065594/2004177065594-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004177065594/2004177065594_2.jpg', width='244', alt="HP LAPTOP 14-AM013LA 14''CORE i3 500GB 4GB - BLANCO")
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') HP LAPTOP 14-AM013LA 14''CORE i3 500GB 4GB - BLANCO 
									span.catalog-product-list-price Normal: S/ 1,599.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,199.00
									span.catalog-discount-tag -25%
						a.catalog-product.catalog-item(href='/seccional-finland-tela-derecho-crema-2064173349944p', data-unique-id='438501')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064173349944/2064173349944_2.jpg', alt='SECCIONAL FINLAND TELA DERECHO - CREMA')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064173349944/2064173349944-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064173349944/2064173349944-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064173349944/2064173349944-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064173349944/2064173349944_2.jpg', width='244', alt='SECCIONAL FINLAND TELA DERECHO - CREMA')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') SECCIONAL FINLAND TELA DERECHO - CREMA 
									span.catalog-product-list-price Normal: S/ 4,599.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,299.00
									span.catalog-discount-tag -72%
						a.catalog-product.catalog-item(href='/apple-iphone-6-refurbished-47-16gb-8mp-dorado-2065177307732p', data-unique-id='447457')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2065177307732/2065177307732_2.jpg', alt='APPLE IPHONE 6 REFURBISHED 4.7" 16GB 8MP - DORADO')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2065177307732/2065177307732-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2065177307732/2065177307732-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2065177307732/2065177307732_2.jpg', width='244', alt='APPLE IPHONE 6 REFURBISHED 4.7" 16GB 8MP - DORADO')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') APPLE IPHONE 6 REFURBISHED 4.7" 16GB 8MP - DORADO 
									span.catalog-product-list-price Normal: S/ 2,999.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,699.00
									span.catalog-discount-tag -43%
						a.catalog-product.catalog-item(href='/hp-all-in-one-24-g017la-238-amd-a8-1tb-8gb-blanco-2004177582268p', data-unique-id='455519')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004177582268/2004177582268_2.jpg', alt='HP ALL IN ONE 24-G017LA 23.8" AMD A8 1TB 8GB - BLANCO')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004177582268/2004177582268-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004177582268/2004177582268-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004177582268/2004177582268_2.jpg', width='244', alt='HP ALL IN ONE 24-G017LA 23.8" AMD A8 1TB 8GB - BLANCO')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') HP ALL IN ONE 24-G017LA 23.8" AMD A8 1TB 8GB - BLANCO 
									span.catalog-product-list-price Normal: S/ 1,999.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,899.00
						a.catalog-product.catalog-item(href='/juego-de-comedor-mylo-vidrio-6-sillas-2064174522858p', data-unique-id='458503')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522858/2064174522858_2.jpg', alt='JUEGO DE COMEDOR MYLO VIDRIO 6 SILLAS')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522858/2064174522858-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522858/2064174522858-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522858/2064174522858-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522858/2064174522858-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522858/2064174522858_2.jpg', width='244', alt='JUEGO DE COMEDOR MYLO VIDRIO 6 SILLAS')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') JUEGO DE COMEDOR MYLO VIDRIO 6 SILLAS 
									span.catalog-product-list-price Normal: S/ 1,699.00
									span.catalog-product-offer-price Internet: S/ 1,199.00
									span.catalog-product-card-price
										| S/ 959.20 
										img(src='/images/logo-aon.png', alt='Precio Tarjeta Ripley')
									span.catalog-discount-tag -44%
									span.catalog-discount-tag -44%
						a.catalog-product.catalog-item(href='/juego-de-comedor-future-6-sillas-negro-2064174522827p', data-unique-id='458509')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522827/2064174522827_2.jpg', alt='JUEGO DE COMEDOR FUTURE 6 SILLAS - NEGRO')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522827/2064174522827-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522827/2064174522827-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522827/2064174522827-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522827/2064174522827-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522827/2064174522827_2.jpg', width='244', alt='JUEGO DE COMEDOR FUTURE 6 SILLAS - NEGRO')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') JUEGO DE COMEDOR FUTURE 6 SILLAS - NEGRO 
									span.catalog-product-list-price Normal: S/ 1,499.00
									span.catalog-product-offer-price Internet: S/ 999.00
									span.catalog-product-card-price
										| S/ 799.20 
										img(src='/images/logo-aon.png', alt='Precio Tarjeta Ripley')
									span.catalog-discount-tag -47%
									span.catalog-discount-tag -47%
						a.catalog-product.catalog-item(href='/juego-de-comedor-future-6-sillas-blanco-2064174522834p', data-unique-id='460511')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522834/2064174522834_2.jpg', alt='JUEGO DE COMEDOR FUTURE 6 SILLAS - BLANCO')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522834/2064174522834-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522834/2064174522834-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522834/2064174522834-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522834/2064174522834-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064174522834/2064174522834_2.jpg', width='244', alt='JUEGO DE COMEDOR FUTURE 6 SILLAS - BLANCO')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') JUEGO DE COMEDOR FUTURE 6 SILLAS - BLANCO 
									span.catalog-product-list-price Normal: S/ 1,499.00
									span.catalog-product-offer-price Internet: S/ 999.00
									span.catalog-product-card-price
										| S/ 799.20 
										img(src='/images/logo-aon.png', alt='Precio Tarjeta Ripley')
									span.catalog-discount-tag -47%
									span.catalog-discount-tag -47%
						a.catalog-product.catalog-item(href='/juego-de-living-bianca-3-2-cuerpos-marron-2064172324393p', data-unique-id='463001')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064172324393/2064172324393_2.jpg', alt='JUEGO DE LIVING BIANCA 3 + 2 CUERPOS - MARRÓN')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064172324393/2064172324393-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064172324393/2064172324393-5.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064172324393/2064172324393-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064172324393/2064172324393-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064172324393/2064172324393-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP/2064172324393/2064172324393_2.jpg', width='244', alt='JUEGO DE LIVING BIANCA 3 + 2 CUERPOS - MARRÓN')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') JUEGO DE LIVING BIANCA 3 + 2 CUERPOS - MARRÓN 
									span.catalog-product-list-price Normal: S/ 3,999.00
									span.catalog-product-offer-price Internet: S/ 2,199.00
									span.catalog-product-card-price
										| S/ 1,699.00 
										img(src='/images/logo-aon.png', alt='Precio Tarjeta Ripley')
									span.catalog-discount-tag -58%
									span.catalog-discount-tag -58%
						a.catalog-product.catalog-item(href='/samsung-smart-tv-uhd-65-curvo-65ku6300-2018177907273p', data-unique-id='464565')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018177907273/2018177907273_2.jpg', alt='SAMSUNG SMART TV UHD 65" CURVO 65KU6300')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018177907273/2018177907273-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018177907273/2018177907273-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018177907273/2018177907273-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018177907273/2018177907273-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018177907273/2018177907273_2.jpg', width='244', alt='SAMSUNG SMART TV UHD 65" CURVO 65KU6300')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') SAMSUNG SMART TV UHD 65" CURVO 65KU6300 
									span.catalog-product-list-price Normal: S/ 7,999.00
									span.catalog-product-offer-price.best-price Internet: S/ 6,599.00
									span.catalog-discount-tag -18%
						a.catalog-product.catalog-item(href='/lg-lavadora-carga-superior-t1668tp-15kg-blanco-2003177947831p', data-unique-id='465555')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2003177947831/2003177947831_2.jpg', alt='LG LAVADORA CARGA SUPERIOR T1668TP 15KG - BLANCO')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2003177947831/2003177947831-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2003177947831/2003177947831_2.jpg', width='244', alt='LG LAVADORA CARGA SUPERIOR T1668TP 15KG - BLANCO')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') LG LAVADORA CARGA SUPERIOR T1668TP 15KG - BLANCO 
									span.catalog-product-list-price Normal: S/ 1,799.00
									span.catalog-product-offer-price Internet: S/ 1,199.00
									span.catalog-product-card-price
										| S/ 949.00 
										img(src='/images/logo-aon.png', alt='Precio Tarjeta Ripley')
									span.catalog-discount-tag -47%
									span.catalog-discount-tag -47%
						a.catalog-product.catalog-item(href='/converse-zapatillas-m7652-para-mujer-2026125390114', data-unique-id='474190')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026125390114/2026125390114_2.jpg', alt='CONVERSE ZAPATILLAS M7652 PARA MUJER')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026125390114/2026125390114-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026125390114/2026125390114-6.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026125390114/2026125390114-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026125390114/2026125390114-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026125390114/2026125390114-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026125390114/2026125390114_2.jpg', width='244', alt='CONVERSE ZAPATILLAS M7652 PARA MUJER')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') CONVERSE ZAPATILLAS M7652 PARA MUJER 
									span.catalog-product-offer-price Internet: S/ 189.00
									span.catalog-product-card-price
										| S/ 151.20 
										img(src='/images/logo-aon.png', alt='Precio Tarjeta Ripley')
									span.catalog-discount-tag -20%
						a.catalog-product.catalog-item(href='/guess-reloj-w0823l7-para-mujer-plateado-2012178332232p', data-unique-id='485269')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012178332232/2012178332232_2.jpg', alt='GUESS RELOJ W0823L7 PARA MUJER - PLATEADO')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012178332232/2012178332232-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2012178332232/2012178332232_2.jpg', width='244', alt='GUESS RELOJ W0823L7 PARA MUJER - PLATEADO')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') GUESS RELOJ W0823L7 PARA MUJER - PLATEADO 
									span.catalog-product-list-price Normal: S/ 599.00
									span.catalog-product-offer-price.best-price Internet: S/ 299.00
									span.catalog-discount-tag -50%
						a.catalog-product.catalog-item(href='/lenovo-phone-vibe-k5-4g-5-16gb-13mp-gris-2065179013297p', data-unique-id='498533')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013297/2065179013297_2.jpg', alt='LENOVO PHONE VIBE K5 4G 5" 16GB 13MP - GRIS')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013297/2065179013297-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013297/2065179013297-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013297/2065179013297-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013297/2065179013297-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013297/2065179013297_2.jpg', width='244', alt='LENOVO PHONE VIBE K5 4G 5" 16GB 13MP - GRIS')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') LENOVO PHONE VIBE K5 4G 5" 16GB 13MP - GRIS 
									span.catalog-product-list-price Normal: S/ 699.00
									span.catalog-product-offer-price.best-price Internet: S/ 549.00
									span.catalog-discount-tag -21%
						a.catalog-product.catalog-item(href='/moto-g4-play-5-16gb-8mp-single-sim-negro-2065179013273p', data-unique-id='498537')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013273/2065179013273_2.jpg', alt='MOTO G4 PLAY 5" 16GB 8MP SINGLE SIM - NEGRO')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013273/2065179013273-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013273/2065179013273-5.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013273/2065179013273-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013273/2065179013273-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013273/2065179013273-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013273/2065179013273_2.jpg', width='244', alt='MOTO G4 PLAY 5" 16GB 8MP SINGLE SIM - NEGRO')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') MOTO G4 PLAY 5" 16GB 8MP SINGLE SIM - NEGRO 
									span.catalog-product-list-price Normal: S/ 999.00
									span.catalog-product-offer-price.best-price Internet: S/ 499.00
									span.catalog-discount-tag -50%
						a.catalog-product.catalog-item(href='/moto-g4-play-5-hd-16gb-8mp-doble-chip-negro-carcasa-morada-adicional-2065179013266p', data-unique-id='498539')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013266/2065179013266_2.jpg', alt='MOTO G4 PLAY 5" HD 16GB 8MP DOBLE CHIP NEGRO + CARCASA MORADA ADICIONAL')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013266/2065179013266-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013266/2065179013266-5.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013266/2065179013266-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013266/2065179013266-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013266/2065179013266-6.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013266/2065179013266-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013266/2065179013266-7.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013266/2065179013266_2.jpg', width='244', alt='MOTO G4 PLAY 5" HD 16GB 8MP DOBLE CHIP NEGRO + CARCASA MORADA ADICIONAL')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') MOTO G4 PLAY 5" HD 16GB 8MP DOBLE CHIP NEGRO + CARCASA MORADA ADICIONAL 
									span.catalog-product-list-price Normal: S/ 999.00
									span.catalog-product-offer-price.best-price Internet: S/ 499.00
									span.catalog-discount-tag -50%
						a.catalog-product.catalog-item(href='/moto-g4-play-5-hd-16gb-8mp-doble-chip-dorado-2065179013259p', data-unique-id='498541')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013259/2065179013259_2.jpg', alt='MOTO G4 PLAY 5" HD 16GB 8MP DOBLE CHIP - DORADO')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013259/2065179013259-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013259/2065179013259-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013259/2065179013259-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013259/2065179013259-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2065179013259/2065179013259_2.jpg', width='244', alt='MOTO G4 PLAY 5" HD 16GB 8MP DOBLE CHIP - DORADO')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') MOTO G4 PLAY 5" HD 16GB 8MP DOBLE CHIP - DORADO 
									span.catalog-product-list-price Normal: S/ 999.00
									span.catalog-product-offer-price.best-price Internet: S/ 499.00
									span.catalog-discount-tag -50%
						a.catalog-product.catalog-item(href='/mazzarri-sandalias-34115-202-para-mujer-2026178880105', data-unique-id='502370')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178880105/2026178880105_2.jpg', alt='MAZZARRI SANDALIAS 34115-202 PARA MUJER')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178880105/2026178880105-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178880105/2026178880105-5.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178880105/2026178880105-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178880105/2026178880105-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178880105/2026178880105-6.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178880105/2026178880105-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178880105/2026178880105_2.jpg', width='244', alt='MAZZARRI SANDALIAS 34115-202 PARA MUJER')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') MAZZARRI SANDALIAS 34115-202 PARA MUJER 
									span.catalog-product-list-price Normal: S/ 379.00
									span.catalog-product-offer-price Internet: S/ 227.40
									span.catalog-product-card-price
										| S/ 181.92 
										img(src='/images/logo-aon.png', alt='Precio Tarjeta Ripley')
									span.catalog-discount-tag -52%
									span.catalog-discount-tag -52%
						a.catalog-product.catalog-item(href='/mazzarri-sandalias-vtiras-34120-203-para-mujer-2026178879789', data-unique-id='502401')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178879789/2026178879789_2.jpg', alt='MAZZARRI SANDALIAS V.TIRAS 34120-203 PARA MUJER')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178879789/2026178879789-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178879789/2026178879789-5.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178879789/2026178879789-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178879789/2026178879789-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178879789/2026178879789-6.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178879789/2026178879789-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2026178879789/2026178879789_2.jpg', width='244', alt='MAZZARRI SANDALIAS V.TIRAS 34120-203 PARA MUJER')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') MAZZARRI SANDALIAS V.TIRAS 34120-203 PARA MUJER 
									span.catalog-product-list-price Normal: S/ 399.00
									span.catalog-product-offer-price Internet: S/ 319.20
									span.catalog-product-card-price
										| S/ 255.36 
										img(src='/images/logo-aon.png', alt='Precio Tarjeta Ripley')
									span.catalog-discount-tag -36%
									span.catalog-discount-tag -36%
						a.catalog-product.catalog-item(href='/lg-smart-tv-oled-uhd-55-oled55b6p-2018179108210p', data-unique-id='503525')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018179108210/2018179108210_2.jpg', alt='LG SMART TV OLED UHD 55" OLED55B6P')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018179108210/2018179108210-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018179108210/2018179108210-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018179108210/2018179108210_2.jpg', width='244', alt='LG SMART TV OLED UHD 55" OLED55B6P')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') LG SMART TV OLED UHD 55" OLED55B6P 
									span.catalog-product-list-price Normal: S/ 11,999.00
									span.catalog-product-offer-price.best-price Internet: S/ 6,399.00
									span.catalog-discount-tag -47%
						a.catalog-product.catalog-item(href='/dell-laptop-inspiron-14-3000-14-core-i5-1-tb-6-gb-rojo-2004179186822p', data-unique-id='505001')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179186822/2004179186822_2.jpg', alt='DELL LAPTOP INSPIRON 14 3000 14" CORE I5 1 TB 6 GB - ROJO')
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179186822/2004179186822-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179186822/2004179186822-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179186822/2004179186822-4.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179186822/2004179186822-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179186822/2004179186822_2.jpg', width='244', alt='DELL LAPTOP INSPIRON 14 3000 14" CORE I5 1 TB 6 GB - ROJO')
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') DELL LAPTOP INSPIRON 14 3000 14" CORE I5 1 TB 6 GB - ROJO 
									span.catalog-product-list-price Normal: S/ 1,999.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,699.00
									span.catalog-discount-tag -15%
						a.catalog-product.catalog-item(href='/lenovo-laptop-2-en-1-miix-310-101-intel-atom-32gb-2gb-plateado-2004179508815p', data-unique-id='512531')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179508815/2004179508815_2.jpg', alt="LENOVO LAPTOP 2 EN 1 MIIX 310 10.1'' INTEL ATOM 32GB 2GB - PLATEADO")
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179508815/2004179508815-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179508815/2004179508815-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179508815/2004179508815-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2004179508815/2004179508815_2.jpg', width='244', alt="LENOVO LAPTOP 2 EN 1 MIIX 310 10.1'' INTEL ATOM 32GB 2GB - PLATEADO")
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') LENOVO LAPTOP 2 EN 1 MIIX 310 10.1'' INTEL ATOM 32GB 2GB - PLATEADO 
									span.catalog-product-list-price Normal: S/ 999.00
									span.catalog-product-offer-price.best-price Internet: S/ 799.00
									span.catalog-discount-tag -20%
						a.catalog-product.catalog-item(href='/lg-smart-tv-43-uhd-43uh6030-2018179689313p', data-unique-id='519577')
							.product-image(style='position:relative')
								.product-image-wrapper
									img(data-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018179689313/2018179689313_2.jpg', alt="LG SMART TV 43'' UHD 43UH6030")
								.product-preview
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018179689313/2018179689313-1.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018179689313/2018179689313-3.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018179689313/2018179689313-2.jpg', width='244', alt='')
									.product-image-wrapper
										img(data-temp-src='//www.ripley.com.pe/wcsstore/ripleype_CAT_AS/Attachment/WOP_2/2018179689313/2018179689313_2.jpg', width='244', alt="LG SMART TV 43'' UHD 43UH6030")
							.product-description
								div
									span.js-clamp.catalog-product-name(data-clamp='3', style='overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;') LG SMART TV 43'' UHD 43UH6030 
									span.catalog-product-list-price Normal: S/ 2,199.00
									span.catalog-product-offer-price.best-price Internet: S/ 1,449.00
									span.catalog-discount-tag -34%
		.row
			.col-sm-12
				nav
					ul.pagination
						li
							a.is-disabled(href='#', aria-label='Previous')
								span(aria-hidden='true') «
						li
							a.is-active(href='#') 1
						li
							a(href='?page=2&orderBy=seq') 2
						li
							a(href='?page=2&orderBy=seq', aria-label='Next')
								span(aria-hidden='true') »
	.scroll-up(style='display: none;')
		svg(role='img', title='subir')
			use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#subir')
		|  Subir
	.bottom-ad
