a(href='http://simple.ripley.com.pe/computo/laptops/todas-las-laptops', target='_blank', id='cyber_ver todo_4', data-seccion='ver todo_llamado_4')
	li.producto_desc.tipo_2
		.descuento.horizontal
			.descuento_contenido.precio
				h2.numero.precio_fijo
					.porcentaje
						| HASTA 
						span.number 40%
						|  + 
						span.number 20%
						|  adic.
						span.line
							|  CON TARJETA RIPLEY
			.descuento_descripcion
				p.describe_descuento
					| EN MILES DE ZAPATILLAS DEPORTIVAS
a(href='http://simple.ripley.com.pe/computo/laptops/todas-las-laptops', target='_blank', id='cyber_ver todo_4', data-seccion='ver todo_llamado_4')
	li.producto_desc.tipo_2
		.descuento.horizontal
			.descuento_contenido.precio
				h2.numero.precio_fijo
					.porcentaje
						| HASTA 
						span.number 30%
						|  + 
						span.number 10%
						|  adic.
						span.line
							|  CON TARJETA RIPLEY
			.descuento_descripcion
				p.describe_descuento
					| EN CAMAS 
					span.f-size8
						| ¡Despacho Gratis!
a(href='http://simple.ripley.com.pe/computo/laptops/todas-las-laptops', target='_blank', id='cyber_ver todo_4', data-seccion='ver todo_llamado_4')
	li.producto_desc.tipo_2
		.descuento.horizontal
			.descuento_contenido.precio
				h2.numero.precio_fijo
					.porcentaje
						| HASTA 
						.number 30%
						span.line
							span.number +20%
							|  ADICIONAL CON TARJETA RIPLEY
			.descuento_descripcion
				p.describe_descuento
					| EN ZAPATILLAS DEPORTIVAS ADIDAS

a(href='http://simple.ripley.com.pe/computo/laptops/todas-las-laptops', target='_blank', id='cyber_ver todo_4', data-seccion='ver todo_llamado_4')
	li.producto_desc.tipo_2
		.descuento.horizontal
			.descuento_contenido.precio
				h2.numero.precio_fijo
					.porcentaje.smaller
						| POR LA COMPRA DE CUALQUIER ALL IN ONE O LAPTOP CORE i5 Y CORE i7
			.descuento_descripcion
				p.describe_descuento
					| LLÉVATE OFFICE HOME PREMIUM GRATIS

a(href='http://simple.ripley.com.pe/computo/laptops/todas-las-laptops', target='_blank', id='cyber_ver todo_4', data-seccion='ver todo_llamado_4')
	li.producto_desc.tipo_2
		.descuento.horizontal
			.descuento_contenido.precio
				h2.numero.precio_fijo
					.porcentaje
						| HASTA 
						.number 60%
			.descuento_descripcion
				p.describe_descuento
					| EN IMPRESORAS MULTIFUNCIONALES

a(href='http://simple.ripley.com.pe/computo/laptops/todas-las-laptops', target='_blank', id='cyber_ver todo_4', data-seccion='ver todo_llamado_4')
	li.producto_desc.tipo_2
		.descuento.horizontal
			.descuento_contenido.precio
				//- p.describe_legal
				h2.numero.precio_fijo
					.porcentaje 
						span.number 15% 
						|  DSCTO. ADICIONAL
						span.line CON TARJETA RIPLEY
			.descuento_descripcion
				p.describe_descuento COMBO SLIM PES17 O COMBO SLIM FIFA17

a(href='http://simple.ripley.com.pe/tv-y-video/televisores/uhd-4k', target='_blank', id='cyber_ver todo_4', data-seccion='ver todo_llamado_4')
	li.producto_desc.tipo_2
		.descuento
			.descuento_contenido
				p.describe_legal HASTA
				h2.numero
					.porcentaje 45
					span
						em %
						| DSCTO.
			.descuento_descripcion
				p.describe_descuento.large EN TELEVISORES UHD LG, SAMSUNG Y SONY
//- a(href='http://simple.ripley.com.pe/computo/laptops/todas-las-laptops', target='_blank', id='cyber_ver todo_4', data-seccion='ver todo_llamado_4')
	li.producto_desc.tipo_2
		.descuento.horizontal
			.descuento_contenido.precio
				//- p.describe_legal
				h2.numero.precio_fijo
					.porcentaje HASTA 
						span.number  60%+20%
					span 
			.descuento_descripcion
				p.describe_descuento adicional con TR en toallas de playa
//- a#event_promo_computo5(href='http://simple.ripley.com.pe/computo/proyectores-y-monitores/todo-proyectores-monitores', data-seccion='llamado_computo5', target='_blank')
	li.producto_desc.tipo_2
		.descuento
			.descuento_contenido
				p.describe_legal HASTA
				h2.numero
					.porcentaje 15
					span
						em %
						| DSCTO.
			.descuento_descripcion
				p.describe_descuento.large EN PROYECTORES Y MONITORES

//- a#event_promo_computo6(href='http://simple.ripley.com.pe/computo/impresoras-y-tintas/todo-impresoras', data-seccion='llamado_computo6', target='_blank')
	li.producto_desc.tipo_2
		.descuento
			.descuento_contenido.precio
				p.describe_legal DESDE
				h2.numero.precio_fijo
					.porcentaje S/ 89
					span
			.descuento_descripcion
				p.describe_descuento.large EN IMPRESORAS MULTIFUNCIONALES

//- a(href='http://simple.ripley.com.pe/computo/laptops/todas-las-laptops', target='_blank', id='cyber_ver todo_4', data-seccion='ver todo_llamado_4')
	li.producto_desc.tipo_2
		.descuento
			.descuento_contenido.precio
				p.describe_legal HASTA
				h2.numero.precio_fijo
					.porcentaje S/ 9,999
					span
			.descuento_descripcion
				p.describe_descuento EN LAPTOPS

//- a(href='http://simple.ripley.com.pe/computo/laptops/todas-las-laptops', target='_blank', id='cyber_ver todo_4', data-seccion='ver todo_llamado_4')
	li.producto_desc.tipo_2
		.descuento.horizontal
			.descuento_contenido.precio
				h2.numero.precio_fijo
					.porcentaje
						| HASTA 
						span.number 40%
						span.line 
							span.number +20%
							|  ADICIONAL CON TARJETA RIPLEY
			.descuento_descripcion
				p.describe_descuento
					| en Bicicletas de paseo (+ accesorio de regalo)

//- a#event_promo_ofertas2(href='http://simple.ripley.com.pe/computo/laptops/todas-las-laptops', target='_top', data-seccion='Oferta 2')
	li.producto_desc.tipo_2
		.descuento
			.descuento_contenido
				p.describe_legal HASTA
				h2.numero
					.porcentaje 40
					span
						em %
						| DSCTO.
			.descuento_descripcion
				p.describe_descuento EN LAPTOPS
//- a#event_promo_ofertas3(href='http://simple.ripley.com.pe/electrohogar/ofertas/especial-linea-blanca', target='_top', data-seccion='Oferta 3')
	li.producto_desc.tipo_2
		.descuento
			.descuento_contenido
				p.describe_legal HASTA
				h2.numero
					.porcentaje 40
					span
						em %
						| DSCTO.
			.descuento_descripcion
				p.describe_descuento EN LÍNEA BLANCA
//- a#event_promo_ofertas4(href='http://simple.ripley.com.pe/muebles/descuentos/60-pequenos-comedores', target='_top', data-seccion='Oferta 4')
	li.producto_desc.tipo_2
		.descuento
			.descuento_contenido
				p.describe_legal HASTA
				h2.numero
					.porcentaje 60
					span
						em %
						| DSCTO.
			.descuento_descripcion
				p.describe_descuento EN PEQUEÑOS COMEDORES
//- a#event_promo_ofertas5(href='http://simple.ripley.com.pe/dormitorio/ofertas/paraiso', target='_top', data-seccion='Oferta 5')
	li.producto_desc.tipo_2
		.descuento
			.descuento_contenido
				p.describe_legal
				h2.numero.porcentaje-fijo
					.porcentaje 20
					span
						em %
						| DSCTO.
			.descuento_descripcion
				p.describe_descuento EN CAMAS AMERICANAS QUEEN Y KING
//- a#event_promo_ofertas6(href='http://simple.ripley.com.pe/deporte/campanas/monark#rbancat', target='_top', data-seccion='Oferta 6')
	li.producto_desc.tipo_2
		.descuento
			.descuento_contenido
				p.describe_legal HASTA
				h2.numero
					.porcentaje 20
					span
						em %
						| DSCTO.
			.descuento_descripcion
				p.describe_descuento en bicicletas Monark
//- a#event_promo_ofertas7(href='http://simple.ripley.com.pe/calzado/calzado-mujer/todo-calzado-mujer', target='_top', data-seccion='Oferta 7')
	li.producto_desc.tipo_2
		.descuento
			.descuento_contenido
				p.describe_legal HASTA
				h2.numero
					.porcentaje 60
					span
						em %
						| DSCTO.
			.descuento_descripcion
				p.describe_descuento EN CALZADO PARA MUJER

//- a(href='http://simple.ripley.com.pe/computo/laptops/todas-las-laptops', target='_blank', id='cyber_ver todo_4', data-seccion='ver todo_llamado_4')
	li.producto_desc.tipo_2
		.descuento.horizontal
			.descuento_contenido.precio
				//- p.describe_legal
				h2.numero.precio_fijo
					.porcentaje RACK CON CABLE HDMI GRATIS
					span 
			.descuento_descripcion
				p.describe_descuento EN TODOS LOS TV UHD SAMSUNG LG Y SONY

//- a(href='http://simple.ripley.com.pe/computo/laptops/todas-las-laptops', target='_blank', id='cyber_ver todo_4', data-seccion='ver todo_llamado_4')
	li.producto_desc.tipo_2
		.descuento.horizontal
			.descuento_contenido.precio
				//- p.describe_legal
				h2.numero.precio_fijo
					.porcentaje LOS MEJORES LOS MEJORES DESCUENTOS
					span 
			.descuento_descripcion
				p.describe_descuento PARA 50 PULGADAS O MÁS PARA 50 PULGADAS O MÁS