#sponsor-bc
	//- .logo-campaign
		a(href='#')
			img.centerv(src='images/call.png')
	.banner-slider
		#slider-bc
			.item
				a(href='#')
					img(src='slider/1.png', alt='')
			.item
				a(href='#')
					img(src='slider/2.png', alt='')
			.item
				a(href='#')
					img(src='slider/3.png', alt='')
