#kapala
	background-image url(../images/bg-kapalla.jpg)
#pucusana
	background-image url(../images/bg-pucusana.jpg)
#atlanta
	background-image url(../images/bg-atlanta.jpg)
#stelle
	background-image url(../images/bg-estelle.jpg)
#otras-colecciones
	background-image url(../images/bg-otras-colecciones.jpg)
#rattan-natural
	background-image url(../images/bg-rattan-natural.jpg)
#comedores
	/* background-position -130px */
	background-image url(../images/bg-comedores.jpg)
#cojines-alfombras
	background-image url(../images/bg-cojines-alfombras.jpg)
#complementos
	background-image url(../images/bg-complementos.jpg)


#clasicos-cuero
	background-image url(../images/bg-clasicos-cuero.jpg)
#clasicos-tapizados
	background-image url(../images/bg-clasicos-tapizados.jpg)
#seccionales
	background-image url(../images/bg-seccionales.jpg)
#banquetas-ottomans
	background-image url(../images/bg-banquetas-ottomans.jpg) 
#sitiales
	background-image url(../images/bg-sitiales.jpg)
#mesas-centro
	background-image url(../images/bg-mesas-centro.jpg)
#tony
	background-image url(../images/bg-tony.jpg)
#barry
	background-image url(../images/bg-barry.jpg)
#jazzmin
	background-image url(../images/bg-jazzmin.jpg)

#lamparas
	background-image url(../images/bg-lamparas.jpg)
#alfombras
	background-image url(../images/bg-alfombras.jpg)
#cojines-decoracion
	/* background-position -150px */
	background-image url(../images/bg-cojines-decoracion.jpg)
#mesas-auxiliares
	background-image url(../images/bg-mesas-auxiliares.jpg)
#cuadros
	background-position -50px
	background-image url(../images/bg-cuadros.jpg)
#espejos
	background-image url(../images/bg-espejos.jpg)
#relojes
	background-image url(../images/bg-relojes.jpg)
#adornos-decorativos
	background-position-x 60px
	background-image url(../images/bg-adornos-decorativos.jpg)

#clasicos-comedor
	background-image url(../images/bg-clasicos-comedor.jpg)
#contemporaneos
	background-image url(../images/bg-contemporaneos.jpg)
#modernos
	background-image url(../images/bg-modernos.jpg)
#sillas-comedor
	background-image url(../images/bg-sillas-comedor.jpg)
#accesorios-mesa
	/* background-position -120px */
	background-image url(../images/bg-accesorios-mesa.jpg)
#vajillas
	background-image url(../images/bg-vajillas.jpg)
#escenciales-comedor
	background-image url(../images/bg-escenciales-comedor.jpg)
#bar-aperitivo
	background-image url(../images/bg-bar-aperitivo.jpg)
#cuchilleria
	background-image url(../images/bg-cuchilleria.jpg)

#portugal
	background-image url(../images/bg-portugal.jpg)
#india
	background-image url(../images/bg-india.jpg)
#cubrecamas
	background-image url(../images/bg-cubrecamas.jpg)
#edredones
	background-image url(../images/bg-edredones.jpg)
#cubreplumones
	background-image url(../images/bg-cubreplumas.jpg)
#escenciales-dormitorio
	background-image url(../images/bg-escenciales-dormitorio.jpg)
#cojines-dormitorio
	background-image url(../images/bg-cojines-dormitorio.jpg)
#muebles-dormitorio
	background-image url(../images/bg-muebles-dormitorio.jpg)