@media screen and (max-width: 1600px)
	#cyber
		.slider
			width 1100px
@media screen and (max-width: 1440px)
	#cyber
		.slider
			width 900px

@media screen and (max-width: 1024px)
	#cyber
		#sponsor
			width 100%
			.slider-prev 
				left 1%
			.slider-next 
				right -2%
		#sponsor-bc
			width 100%
			background-position 25% top
		.logo-campaign
			// left 22.5%
		.container 
			width 100%
			overflow hidden
		.row 
			width 100%
		#slider-bc 
			width 510px

		.slider-banner
			width 100%
		.banner
			width 100%

		.calls
			width 100%

		.notas
			width 100%
			height 20px

@media screen and (max-width: 992px)
	#cyber
		#container
			width 100%
			max-width 910px
		.nav-bar
			&.fixed
				/* top 56px */
		#sponsor
			margin 0
			// height 310px
			background-image url(../images/sponsor-tablet.jpg)
			background-position center top
			background-size auto
		#sponsor-bc
			width 100%
			height 252px
		.banner-slider
			width 55%
			// width 52.5%
			height 100%
			// display flex
			// align-items center
			// justify-content center
			margin-right 17px
		#slider-bc 
			width 100%
			// height 100%
		.item 
			width 100%
			// height auto

		.banner 
			height 294px
		.slide 
			height 294px
		.menu 
			width 100%
			padding 0
		.menu6
			li
				width 16.66%
				.text
					font-size 12px
		.menu7
			li
				width 14%
				.text
					font-size 12px
		.menu8
			li
				width 12.5%
				.text
					font-size 12px
		.menu9
			li
				width 11.11%
				.text
					font-size 11px
		.menu10
			li
				width 10%
				.text
					font-size 11px
		.menu11
			li
				width 9.09%
				.text
					font-size 10.5px
		.menu12
			li
				width 8.33%
				.text
					font-size 10px
		.menu13
			li
				width 7.69%
				.text
					font-size 9px
		
		.image 
			width 75%

		.percent 
			font-size 20px
			width 26px
		.simbol 
			font-size 12px
			padding-bottom 2px
		.logo-campaign 
			// display none
			// top 75px 
			// width 23%

		.calls 
			width 100%
			background-size cover
			-webkit-background-size cover
			height 294px
			// background none 
			//border 7.5px solid #d5dde6

			&::before 
				height 280px !important
			&::after 
				height 280px !important
				right -10px

		.slider-next 
			top 50%
		.slider-prev 
			top 50%
		
		.collapse-movil
			#main-menu
				// height auto
				opacity 1
				vendor('transition', all 0.2s ease-in 0s)
			.menu
				top 50px

		.nav-bar
			width 100%
			z-index 11
		.nav
			width 100%

		#main-menu
			// height auto
			display block
			padding-left 0
			padding-right 0
			li
				margin-bottom 0
				a
					width 100%
		.slick-dots
			bottom -10px

@media screen and (max-width: 768px)
	#cyber
		overflow hidden
		#header-banner
			height auto
		#home
			// background-image url(../images/bg-home-mobile.png)
			height 100vh
			background-position center
		.call
			width 200px
			background none
			left 50%
			vendor('transform', translate(-50%,0))
			top 0
		.scroll
			top 40%

		.notes
			img
				height 65%
				width auto
		.box-center
			padding 0 10% !important

		.nav-bar
			width 100%
			display block
			z-index 11

		#btn-mobile
			display block
		#main-menu
			li
				margin-bottom 0

@media screen and (max-width: 767px)
	#cyber
		margin-bottom 0
		#container
			max-width 690px
		.nav-bar
			position absolute
			top 0
			left 0
			width 100%
			height 60px
			margin 0
		#sponsor 
			background-image url(../images/sponsor-mobile.jpg)
			background-repeat no-repeat
			width 100%
			height 400px
			position relative
			overflow hidden
			// margin-bottom 0
			// background-size contain
			background-position center top
			background-size auto 100%
			background-color white
		#sponsor-bc
			padding-top 0
			width 100%
			height 100%
			position relative
			background none
			// display none
		.banner-slider
			background-image none
			background-repeat no-repeat
			background-size auto
			background-position center top
			height 50%
			width 100%
			align-items flex-end
			margin-right 0
			.slick-prev 
				left 0
				z-index 10
			.slick-right 
				right 0
				z-index 10
			.slick-prev, .slick-next 
				top 0
				transform none 
				height 100%
			.slick-prev:before, .slick-next:before 
				color #fff
				background-repeat no-repeat
				background-position center
		#slider-bc 
			padding-top 0px
			height 100%
			width 540px
			display flex
			align-items center
			// overflow hidden
		.item
			height 50vh
			// height 100%
			display flex
			align-items center
			flex-direction column
			justify-content center
			a
				height 100%
				width auto
				display block
			img
				height 100%
				width auto

		.banner 
			padding-top 0px
			overflow hidden
		.slide 
			height 294px
			.col-xs-12 
				width 50%

		.calls .col-xs-12,.calls .col-sm-12, .calls .col-md-12, .calls .col-lg-12, .calls .col-xl-12 
			padding 0 !important

		.logo-campaign
			// display none
			// width 196px
			// top 115px
			height 50%
			// left 25%
			a
				display flex
				align-items flex-end
				justify-content center
				height 100%
				width 100%
				margin 0 auto
			img
				height 100%
				width auto
		.calls 
			// background #d3dee4
			// border 7.5px solid #d3dee4
			height 294px
		.notas
			padding 12.5px 0 !important
		.notes
			img
				height 55%
				width auto
		.box-center
			padding 0 10% !important

		#btn-mobile
			display block
		.nav 
			float left
			background-color transparent
			height 50px
			position absolute
			top 0
			right 0
			margin-top 0
			z-index 2
			display flex
			align-items center

		.category
			.text
				width 100%
				padding 0
				margin 0
				&:after 
					display none
				br
					display none
			&.active
				&::before
					display none
		.category:hover, .active 
			background-color transparent

		#main-menu
			padding-left 0
			padding-right 0
			// display flex
			// align-items center
			// justify-content center
			// flex-direction row
			// flex-wrap wrap
			// flex-basis 100%
			li
				display flex
				align-items center
				justify-content center
				// width 50%
				float left
				clear none
				// clear both
				&:nth-child(1), &:nth-child(2)
					// border-top 1px solid #fff
				&:nth-child(even)
					// border-left 1px solid #000
				&:last-child
					margin 0 auto
					float none
					// border none
				a
					display table-cell
					vertical-align middle
					line-height normal
					font-size 3.5vw
					text-align center

					height 42px
					display flex
					align-items center
					justify-content center
					// padding 0 20px
				&:nth-child(20)
					border-top none
					border-left none
				&:nth-child(21)
					border-left none
		.menu
			margin-right 0
			margin-left 0
			width 100%
			clear both
			overflow hidden
			background-color white
			box-shadow none
			overflow hidden
			border-radius 0
			height auto
			bottom auto
			// padding-top 40px
			// border-top 1px solid #000
			// border-left 1px solid #000
			top -400px
			position absolute
			li
				float left
				clear none
				border-bottom 1px solid #000
				// border 1px solid #000
				width 50%
				&:nth-child(1)
					// border-top 1px solid #fff
				&:nth-child(11), &:nth-child(12)
					border-bottom none
				&:nth-child(even)
					// border-left 1px solid #000
				a
					display block
					color black
					height auto
					.icon
						display none
				&:after
					display none
		.menu4
			li
				width 100%
		.menu5
			li
				width 100%
		.menu6
			li
				width 50%
		.menu7
			li
				width 50%
				&:first-child
					width 100%
		.menu8
			li
				width 50%
		.menu9
			li
				width 50%
				&:first-child
					width 100%
		.menu10
			li
				width 50%
		.menu11
			li
				width 50%
				.text
					font-size 10.5px
				&:first-child
					width 100%
		.menu12
			li
				width 50%
				.text
					font-size 10px
		.menu13
			li
				width 50%
				.text
					font-size 9px
				&:first-child
					width 100%

		.menu6, .menu8, .menu10, .menu12
			li
				&:nth-child(even)
					border-left 1px solid #000
		.menu7, .menu9, .menu11, .menu13
			li
				&:nth-child(even)
					border-right 1px solid #000
		.menu7, .menu8, .menu9, .menu10, .menu11, .menu12
			display flex !important
			flex-wrap wrap
			flex-basis 100%
		
		.menu8, .menu9, .menu10, .menu11, .menu12, .menu13
			height calc(100vh - 50px)
			display flex !important
			flex-wrap wrap
			flex-basis 100%
			li
				a
					height 100% !important

		.collapse-movil
			&.menu-white
				bgcolor(white)
				.current-category
					color black
				.menu
					border-top 1px solid black
					background-color white !important
					li
						border-color black
				.text
					color black
			&.menu-black
				bgcolor(black)
				.current-category
					color white
				.menu
					border-top 1px solid white
					background-color black !important
					li
						border-color white
				.text
					color white

		.slick-dots
			bottom 5px

@media screen and (max-width: 640px)
	#cyber
		#container
			max-width 540px
			margin 0 auto
		#sponsor
			// background-position 23% center
		.logos
			margin-bottom 30px
		.image 
			width 72.5%
			img 
				width 100%
				height auto
		.slide 
			.col-xs-12 
				// width 100%

		.logo-campaign
			// width 57.5%
			// top 9%
		.box-center
			padding 0 10% !important
		.collapse-movil
			.menu
				//top 140px

@media only screen and (max-width: 600px)
	#cyber
		.banner-slider
			// height 250px
			width 100%
		#slider-bc 
			padding-top 0px
			// height auto
			// width 76%
		.item
			// height 250px
			img
				height 100%
		.call-image 
			margin 20px auto 30px
		.image 
			width 72.5%
			img 
				width 100%
				height auto
		.description 
			width 25%
			margin-left 2.5%
			margin-top 25px

@media screen and (max-width: 540px)
	#cyber
		#container
			max-width 540px

@media screen and (max-width: 480px)
	#cyber
		#container
			max-width 450px
		#header-banner
			height auto
			overflow auto
		#sponsor
			// background-image url(../images/bg-mobile.png)
			background-position center top
			// background-size auto
			// -webkit-background-size auto
			// height 430px
			// overflow auto
			.slider-prev
				left 15px
				top 45%
			.slider-next
				right -17px
				top 45%
		#sponsor-bc
			height 100%
		.banner-slider
			width 100%
			height 50%
		#slider-bc 
			width 100%
			// height auto
			overflow initial
		.call-image 
			margin 20px auto 20px
		.call 
			top 60%
			height 35%

		.logo-campaign
			img
				height 80%
		.logo-desktop
			display none
		.logo-mobile
			display block
		.item 
			// height 480px
			// padding-bottom 10px
			a
				height auto
				width 100%
			img 
				height auto !important
				/* width 80% 
				display block
				margin 0 auto*/
		.slider-prev
			left 15px
			top 45%
		.slider-next
			right -17px
			top 45%
		.nav-bar
			clear both
			margin-bottom 20px

		.banner 
			width 100%
			height 450px
			/* background-image url(../images/bg-banner.jpg) */
			overflow initial
			background-size cover
			background-position center
		.slide 
			padding-bottom 10px
			padding-bottom 0
			height auto
			.col-xs-12 
				width 100%
		.image 
			width 62.5%
			height auto
			img 
				width 100%
				height auto
		.calls 
			/* background-image url(../images/logo-cybermonday-mobile.png) */
			background-repeat no-repeat
			background-position center 55%
			background-size auto
			/* border 7.5px solid #d3dee4 */
			height 440px

		.slide-note
			bottom 3%

		.logo-cyber 
			img 
				width 87.5%
				height auto
				float left

		.current-category
			font-size 3.5vw
		.notes
			&::after
				display none
		.notes
			margin-bottom 7.5px
			img
				height 90%
				width auto

		.box-center
			padding 0 15% !important
		.collapse-movil
			.menu
				//top 160px

		.slick-dots
			// bottom 8%

		#main-menu
			li
				width 100%
				border-left none
				border-right none

@media screen and (max-width: 414px)
	#cyber
		#container
			max-width 384px
		.breadcrumb
			.circles
				margin-top 10px
				clear both
		#products
			.slide
				width 100%
		.logo-campaign
			// width 77.5%
			// top 32.5%

@media screen and (max-width: 384px)
	#cyber
		#container
			max-width 384px
		.current-category
			padding 0 2.5%

@media screen and (max-width: 345px)
	#cyber
		#container
			max-width 345px
		.breadcrumb
			.circles
				margin-top 10px
				clear both
		.current-category
			padding 0 2.5%
		.logo-campaign
			// width 90%

@media screen and (max-width: 330px)
	#cyber
		#container
			max-width 330px
		.breadcrumb
			.circles
				margin-top 10px
				clear both
		.current-category
			padding 0 2.5%

		.banner-slider
			.slick-prev
				left 0%
			.slick-next
				right 0%
		#slider-bc
			width 96%
			width 100%
			margin 0 auto

@media screen and (max-width: 290px)
	#cyber
		#container
			max-width 290px
		.logos
			margin-top 25%

		.contents
			width 100%
			margin 5% auto

			.thank
				font-size 6.5vw
				height 40px
				padding-top 17.5px
			.text
				height 85px

		.item
			a
				height auto
		.logo-campaign
			// width 100%
			img
				height 85%
