/* Colors */
$rojo = #cd1337
$caki = #d3cbbf
$ocre = #69544a
$gree_o = #838148
$yellow = #fcce01
$color_active = #e73e51
$bg_sticky = #cbcbcb

vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	{prop} args

bgcolor(color)
	background-color color
	
bgimg(uri)
	background-image url(uri)

#cyber
	overflow hidden
	// margin -30px 0 10px
	width 100%
	clear both
	.container-fluid
		padding 0
		.row .col-xs-12, .row .col-sm-12, .row .col-md-12, .row .col-lg-12, .row .col-xl-12 
			padding 0

	.loader
		background transparent url(../images/ring.svg) center no-repeat
		background-size cover
		width 75px
		height 75px
	#container
		width 100%
		height auto
		// float left
		overflow visible
		opacity 0
		position relative
		// background-image url(../images/bg-page.jpg)
		background-position center top
		background-repeat no-repeat

	#main-menu
		// height 46px
		top 60px
		font-size 0
		left 0
		background-color black
		display none
		border-top 1px solid #fff
		margin-top 0
		height 0
		opacity 0
		vendor('transition', opacity 0.2s ease-in 0s, height 0s ease-in 0s)
		li
			position relative
			display inline-block

			a
				position relative
				margin 0
				padding 0px 20px
				height 100%
				font-size 14px
				color #fff
				text-transform uppercase
				text-decoration none
				font-family "Open Sans", sans-serif
				display flex
				align-items center
				justify-content center
				.icon
					margin-top 2px
					margin-right 8px
					display inline-block
					float left
				&:hover
					color #000
					background-color white
					vendor('transition', all 0.2s ease-in 0s)
			.active
				color black

	.nav
		width 100%
		float left
		position relative
		z-index 101
		.nav-bar
			margin 0 auto

	.nav-bar
		width 1024px
		height 60px
		z-index 6
		position absolute
		z-index 100
		background black
		display none
		transform translateZ(0)
		transform translate3d(0,0,0)
		vendor('transition', none !important)
	.current-category
		// display none
		width 100%
		text-align center
		color white
		z-index 100
		padding 0 5%
		// bgcolor(black)
	.menu
		font-size 0
		list-style-type none
		text-align center
		position absolute
		z-index 100
		vendor('transition', all 0.2s ease-in 0s)
		li
			position relative
			margin-bottom 12px;
			a
				.icon
					margin-bottom 2px
					display block
					margin 0 auto
					float left
					height 42px
					position absolute
				.icon-modelos
					&:hover
						background-position: -433px 0
				.icon-tintas
					&:hover
						background-position: -553px 0
				.icon-video
					&:hover
						background-position: -673px 0
				.text
					font-size 11px
					color #fff
					text-align center
					float left
					margin-left 48px
					position relative
				&:hover, .active
					vendor('transition', all 0.2s ease-in 0s)
				&:nth-child(1)
					width 78px
			.active
				color white

	#header-banner 
		padding 0
		position relative
		overflow hidden
		.row 
			width 100%
			margin 0

	#cintillo-superior 
		width 100%
		height 60px
		// background-image url(../images/cintillo.gif)
		background-position center
		background-repeat no-repeat
		margin 0 auto
		position relative

	#sponsor 
		padding 0
		margin 0 auto
		position relative
		height 310px
		background-image url(../images/sponsor.jpg)
		background-color transparent
		background-position center top
		background-repeat no-repeat
		// background-size 48px 48px
		// bgcolor(white)
		// padding-top 60px
		// overflow hidden
		.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12
			padding 0
		.slider-prev 
			position absolute
			left -40px
			top 50%
			transform translate(-50%, 0)
			z-index 10
			background url(../images/left.png) no-repeat center
			height 32px
			width 32px
			a 
				text-indent -20000px
				width 32px
				height 32px
				display block
		.slider-next 
			position absolute
			right -70px
			top 50%
			transform translate(-50%, 0)
			z-index 10
			background url(../images/right.png) no-repeat center
			height 36px
			width 32px
			a 
				text-indent -20000px
				width 32px
				height 32px
				display block
	.slider-prev 
		position absolute
		left -40px
		top 50%
		transform translate(-50%, 0)
		z-index 10
		background url(../images/left.png) no-repeat center
		height 32px
		width 32px
		a 
			text-indent -20000px
			width 32px
			height 32px
			display block
	.slider-next 
		position absolute
		right -70px
		top 50%
		transform translate(-50%, 0)
		z-index 10
		background url(../images/right.png) no-repeat center
		height 36px
		width 32px
		a 
			text-indent -20000px
			width 32px
			height 32px
			display block
	.logo-campaign 
		top 84px
		left 270px
		z-index 1
		position absolute
		// width 130px
	.slider-banner
		width 1074px
		margin 0 auto
		position relative
		display none
		// border 8px solid $color_active
		bgcolor(white)
		&::before
			content ''
			bgimg('../images/round-left-top.png')
			left 0
			top 0
			position absolute
			width 46px
			height 44px
			z-index 9
		&::after
			content ''
			bgimg('../images/round-right-bottom.png')
			right 0
			bottom 0
			position absolute
			width 46px
			height 44px
			z-index 9
	.banner 
		height 294px
		width 1074px
		margin 0 auto
		float none
		overflow hidden
		
	.slide 
		background-color transparent
		height 294px
		width 100%
		float left
		font-family "Open Sans"
	.slide-note
		position absolute
		bottom 10%
		text-align center
		width 100%
		font-size 10px
	.calls 
		width 100%
		height 100%
		margin 0 auto
		overflow hidden
		padding 0
		// background-image url(../images/bg-banner.jpg)
	.column 
		padding 0
		&.izq 
			.discount 
				background-image url(../images/corner-left.png)
				bottom 10px
				left 10px
				.percent 
					padding 0 0 8px 8px
			.content
				margin-right 35px
				text-align right
				.cyber
					&.align-left
						font-size 17.5px
					&.align-center
						font-size 17.5px
					&.align-right
						font-size 17.5px
				.marca
					img
						right 0
		&.der 
			.discount 
				background-image url(../images/corner-right.png)
				bottom 10px
				right 10px
				.percent 
					padding 0 0 8px 30px
			.content 
				margin-left 35px
				text-align left
				.cyber
					&.align-left
						font-size 17.5px
					&.align-center
						font-size 17.5px
					&.align-right
						font-size 17.5px
				.marca
					img
						left 0
		.content 
			float left
			width 140px
			width 180px
			position relative
			overflow hidden
			text-align left
			padding 0 5px
			padding 0
			.wrapper 
				display table
				width 100%
				height 290px
				padding-top 72.5%
				display flex
				align-items center
				flex-direction column
				justify-content center
				&.product
					padding-top 0
					padding-bottom 15%
					justify-content flex-end
					.table
						height auto
				&.until
					padding-top 67.5%
					justify-content flex-start
					.table
						height auto
				&.inc_legal
					padding-top 0
					padding-bottom 15%
					justify-content flex-end
					.table
						height auto
			.table 
				display table-cell
				vertical-align middle
			span 
				display block
				// font-weight 600
				position relative
				/* padding-bottom 2px */
				line-height 1.1
				clear both
				&.aon 
					position relative
				img 
					margin 0
					display inline-block
				&.hasta
					color $color_active
					font-weight bold
					height 15px
					position relative
					display flex
					align-items flex-end
				&.marca
					height 15px
					position relative
					margin-bottom 3px
					img
						position absolute
						bottom 0
						height auto
				&.descripcion 
					font-size 14px
					/* text-transform uppercase */
					margin-bottom 4px
					font-weight 500
					.line
						display block
				&.antes 
					font-size 10px
					margin-bottom 3px
					text-decoration line-through
				&.cyber 
					color $color_active
					font-size 12px
					padding-bottom 2px
					font-weight bold
					text-transform uppercase 
					line-height 1
					z-index 1
					// border-bottom 1px solid #e6292d
				&.note
					font-size 114%
					clear both
					line-height 1
					display flex
					align-items center
					justify-content center
					.bigger
						font-size 13px
						font-weight bold
						display inline-block
				&.pay-note
					margin-top 4px
					font-size 12px
					font-weight bold
					color black
					line-height 1
				&.adicional
					width 100%
					img
						display block
						margin 0 auto 2px
				&.colores 
					font-size 13px
				&.iconos-colores
					padding-top 3px
					img
						display inline-block
						margin 0 2.5px 3px
						width 97.5%
				&.legal
					font-size 8px
					height 18px
			.price 
				color $color_active
				font-size 25px
				font-size 21px
				line-height 1
				padding 4px 8px
				padding 0
				// width 80%
				display inline-block
				// text-align center
				margin-bottom 3px
				// bgcolor(white)
				span 
					display inline-block
					font-size 36px
					font-size 32px
					line-height 0.75
					padding-bottom 0
				.centimos
					font-size 18px
	.column 
		&.izq 
			.content 
				.price 
					&.porcentual 
						float right
						margin-bottom 2px
		.content 
			.price 
				&.porcentual 
					letter-spacing -3px
					.number
						line-height 0.75
				.number 
					font-size 90px
					display table-cell
					letter-spacing -6px
				.percent 
					line-height 0.6
					font-size 62px
					display table-cell
					text-align center
					font-weight 600
				.dscto 
					font-size 15px
					margin-top 10px
					vertical-align top
					line-height 1
					font-weight bold

		.imagen 
			float left
			width 270px
			text-align center
			height 294px
			position relative
			.bg-image
				width 270px
				height 270px
				border-radius 50%
				bgcolor (#fdd400)
			img 
				width 100%
				height auto
				display block
		.fullimage
			width 510px
			height 294px
			margin 0 auto
			display flex
			align-items center
			justify-content center
			flex-direction column
			&.product
				padding-top 0
				padding-bottom 15%
				justify-content flex-end
			img
				margin-top 0
	.discount 
		width 86px
		height 86px
		position absolute
		display table
		font-family "Open Sans", sans-serif
		color #fff
	.percent 
		font-size 28px
		line-height 1
		display table-cell
		vertical-align bottom
		width 40px
		letter-spacing -0.75px
	.simbol 
		display table-cell
		vertical-align bottom
		font-size 20px
		line-height 1
		padding-bottom 8px
		text-align left
		span 
			font-size 6px
			display block
	.call-left, .call-right 
		color #000
		position relative
	.call-left 
		float right
	.call-right 
		float left
	
	.bx-wrapper 
		margin-bottom 0 !important
		.bx-controls 
			position absolute
			width 100%
			bottom 6%
			z-index 10
		.bx-viewport
			bgcolor(white)
	.bx-control 
		display inline-block
	.bx-pause 
		display block !important
		text-indent -9999px !important
		width 11px !important
		height 13px !important
		outline 0 !important
		background url(images/controls.png) -85px -44px no-repeat !important
		margin 0 4px !important
		border-radius 0 !important
		cursor pointer
	.bx-play 
		display block !important
		text-indent -9999px !important
		width 11px !important
		height 13px !important
		outline 0 !important
		background url(images/controls.png) -85px -11px no-repeat !important
		margin 0 4px !important
		border-radius 0 !important
		cursor pointer
	
	#cintillo-bottom 
		width 1056px
		height 46px
		background-position center
		background-repeat no-repeat
		margin 0 auto
		position relative
	.cintillo-top-mobile 
		display none
	.cintillo-bottom-mobile 
		display none

	.notas
		max-width 1056px
		margin 0 auto 10px
		/* padding 25px 0 !important */
		text-align center
		float none
	.notes
		position relative
		margin-bottom 10px
		height 22px
		display inline-block
		padding 0 12px !important
		&::after
			content ''
			height 20px
			position absolute
			background-color #b2b2b2
			right 0
			top 1px
			width 1px
		&:last-child
			&::after
				display none
			
	#btn-mobile
		display none
		padding 12px 10px
		width 40px
		height 40px
		top 10px
		position absolute
		right 10px
		z-index 1001
		border-radius 50%
		outline none
		bgcolor(white)
		span
			display block
			clear both
			width 20px
			margin 0 auto 5px
			bgcolor(black)
			border-radius 1px
			display block
			height 2px
			vendor('transition', all 0.2s ease-in 0s)
		&::before 
			content "Ver categorías >"
			display block
			font-family "Open Sans", sans-serif
			font-size 11px
			right 101%
			position absolute
			top 12px
			width 130px
			color white
			animation abefore 3s linear infinite
			text-align right

	.collapse-movil
		background-color black
		#btn-mobile
			span
				&:nth-child(1)
					transform rotate(45deg) translateY(5px) translateX(4px)
					width 22px
				&:nth-child(3)
					transform rotate(-45deg) translateY(-6px) translateX(5px)
					width 22px
				&:nth-child(2)
					opacity 0
			&::before 
				display none

	/* MENU */
	.sector_filtros
		background $bg_sticky
		transform translateZ(0)
		transform translate3d(0,0,0)
		-webkit-transform translate3d(0,0,0)
		vendor('transition', all 0.5s ease 0.25s)
		.groupB 
			display table
			margin 0 auto 0px
			text-align center
			width 1110px

	.control-bar 
		.groupB
			.bloque
				// 13 elements
				width 7.69%
				// 12 elements
				width 8.33%
				.iconress
					margin 8px auto !important
					float none !important
					display block !important
				.text
					text-align center !important
					top auto !important
					line-height 1.2 !important
					display flex
					align-items center
					justify-content center
					flex-direction column
					width 100%
					height 28px
					&.two
						top auto !important
			.btn 
				background $bg_sticky
				color #555
				display inline-block
				margin 0
				border-radius 0
				vertical-align middle
				padding 0 10px
				float left
				letter-spacing inherit
				min-width inherit
				line-height 51px
				height 70px
				font-size 10.5px
				&.active 
					background $color_active
					border-bottom 0 none
					color #fff
					font-weight 600
					.iconress 
						background-position-y bottom !important
				.iconress 
					background url(../images/master.png) 0 0 no-repeat
					width 34px
					height 23px
					display block
					float left
					margin-right 7px
					margin-top 19px
					&.todos 
						background-position 0 0
						width 23px
					&.video 
						background-position -383px 0
						width 46px
					&.tecnologia 
						background-position -132px 0
						width 25px
					&.celulares 
						background-position -1289px 0
						width 27px
					&.electrohogar 
						background-position -255px 0
						width 18px
					&.muebleria 
						background-position -775px 0
						width 29px
					&.dormitorio 
						background-position -641px 0
					&.decohogar 
						background-position -520px -2px
						width 19px
					&.deporte 
						background-position -909px 0
						width 32px
					&.bebe 
						background-position -1042px 0
						width 26px
					&.belleza 
						background-position -1161px -4px
						width 38px
					&.relojes 
						background-position -1375px 0px
						width 26px
					&.gift 
						background-position -1468px 0px
						width 26px
					&.moda 
						background-position -1562px 0px
						width 26px
				&:hover 
					background-color $color_active
					color #fff
					.iconress 
						background-position-y bottom !important
				.text 
					position relative
					top 24px
					float left
					line-height 1.25
					text-align left
					&.two 
						top 20px
						span 
							display block

	.container-calls
		padding 25px 0 0
		z-index 9
		position relative
		background-color white
	#calls
		float left
		.coupon
			padding 0 8px
			z-index 9
			position relative
			img
				opacity 0
				transform translateZ(0)
				transform scale(0.25)
				transform-origin 50% 50% 
			&.scale
				img
					opacity 1
					transform scale(1)
					vendor('transition', all 2s ease 0.5s)
	/* Class AUX */
	.navigate
		position fixed
		top 0
		padding 0
	.back
		font-family 'Gotham-Light'
		float right
		margin-right 17px
		padding-top 7px
		font-size 12px
		color #666
		display block

	.centerv
		position absolute
		top 50% !important
		transform translate(0, -50%) !important

	.centerh
		position absolute
		left 50% !important
		transform translate(-50%, 0) !important

	.centervh
		position absolute
		left 50% !important
		top 50% !important
		transform translate(-50%, -50%) !important

	.bottom
		position absolute
		bottom 0

	.size-40
		width 40%
	.size-60
		width 60%
	.size-75
		width 75%
	.size-80
		width 80%
	.padding-left-30
		padding-left 25px
	.block
		width 100%
		height 100vh

	.align-left
		text-align left
	.align-center
		text-align center
	.align-right
		text-align right
	.f-size8
		font-size 8px !important
	.f-size9
		font-size 9px !important
	.f-size10
		font-size 10px !important
	.f-size11
		font-size 11px !important
	.f-size12
		font-size 12px !important
	.f-size13
		font-size 13px !important
	.f-size14
		font-size 14px !important
	.f-size15
		font-size 15px !important
	.f-size16
		font-size 16px !important
	.f-size17
		font-size 17px !important
	.f-size18
		font-size 18px !important
	.f-size19
		font-size 19px !important
	.f-size20
		font-size 20px !important

	.box-center
		display block !important
		margin 0 auto
		float none !important
		padding 0 10% !important
	.left
		float left
	.right
		float right

	.pleft
		left 5%
	.pright
		right 5%

	.fixed
		position fixed !important
		width 100%
		z-index 100
		transform translateZ(0)
		transform translate3d(0,0,0)
		vendor('transition', all 1s ease 0.5s)
		/* width auto */

	.absolute
		position absolute
		width 196px
		img
			width 100%
		.text-avance
			display none

	.g-scrolling-top
		display none
		width 50px
		height 50px
		background url(../images/scrolling-top.png) 0 0 no-repeat
		text-indent -9999em
		text-decoration none
		position fixed
		bottom 25px
		right 25px
		z-index 99
		cursor pointer
		animation scrolling 2s infinite

	.link-section
		width 100%
		position relative
		bottom 10%
		text-align center
		height 10vh
		float left
		display table
	.link
		display table-cell
		vertical-align middle
		a
			color #c8135c
		.arrow-link
			display inline-block
			margin-bottom -4px

	.noall
		height 110px
		margin-bottom 9px

	.more-detail
		font-size 10px
		text-align right
		margin-bottom 9px
		padding 0 10px
		word-wrap break-word
		line-height 1.4
		color #fecc0d
		cursor pointer

	.img-vertical
		img
			width auto
			height 100%

	.img-horizontal
		img
			width 100%
			height auto
	#col1
		/* background-color rgba(100,250,20, .5) */
		height auto
		float left
	#col2
		/* background-color rgba(120,150,80, .5) */
		height auto
		float left
	#col3
		/* background-color rgba(10,20,2, .5) */
		height auto
		float left
	#col4
		/* background-color rgba(50,50,200, .5) */
		height auto
		float left
	.upper
		text-transform uppercase		

.sector_filtros
	vendor('transition', all 0.25s ease 0.0s)
	&.fixeds
		top 56px !important
