@media screen and (max-width: 1600px)
	#cyber
		.slider
			width 1100px
@media screen and (max-width: 1440px)
	#cyber
		.slider
			width 900px

@media screen and (max-width: 1024px)
	#cyber
		#sponsor
			.slider-prev 
				left 1%
			.slider-next 
				right -2%
		.slider-prev 
			left 1%
		.slider-next 
			right -2%
		.slider-banner
			width 100%
		.banner
			width 100%
		#cintillo-superior 
			width 100%
			background-size contain
		.control-bar
			.groupB
				display flex
				align-items center
				justify-content space-around
				flex-direction row
				height 70px
				width 100%
				.btn
					// display flex
					// align-items center
					// justify-content center
					// flex-direction row
					padding 0 3px
					height 100%
					.iconress
						margin-right 3px
						margin-top 0
					.text
						// font-size 10px
						top auto
						&.two
							top auto

		#cintillo-bottom 
			width 96%
			background-size contain
		.calls
			width 100%
		.column 
			&.izq
				.content
					margin-left 0
					margin-right 15px
					padding-left 10px
				.imagen 
					margin-right 0px
			&.der
				.content
					margin-right 0
					margin-left 15px
					padding-right 10px
				.imagen 
					margin-left 0px
		.sector_filtros 
			&.sticky 
				.groupB 
					.btn 
						.iconress 
							display none
			&.groupB 
				.btn 
					.iconress 
						display none
		.notas
			width 100%
			height 20px

@media screen and (max-width: 992px)
	#cyber
		#container
			width 100%
			max-width 910px
		.nav-bar
			&.fixed
				// top 56px
		#btn-mobile 
			display block
		#sponsor
			margin-top 0
			height 310px
			background-image url(../images/sponsor-tablet2.jpg)
			background-position 15% top
			background-size cover
			.slider-next 
				top 50%
			.slider-prev 
				top 50%
		.banner 
			height 294px
		.slide 
			height 294px
		.menu 
			width 100%
			padding 0
		.image 
			width 75%
		.column 
			.imagen 
				width 50%
				height 300px
			.content 
				width 50%
				.wrapper 
					height 300px
					padding-top 60%
				span 
					&.aon 
						font-size 1.4vw
					&.descripcion 
						font-size 1.8vw
						margin-bottom 4px
					&.antes 
						font-size 1.5vw
			.fullimage
				width 100%
				height 225px
				img
					margin-top 22.5%
					width 90%
					height auto
					position relative
					left auto
					transform translate(0,-50%)
		.bx-wrapper 
			.bx-viewport 
				height 294px !important

		.call-left, .call-right 
			float none
			position relative
			z-index 1
		.column 
			&.izq 
				.discount 
					bottom 0px
					left 0px
					background-size 72.5%
					background-repeat no-repeat
					background-position left bottom
					.percent 
						padding 0 0 2px 2px
				.content 
					margin-right 0
					padding 0 10px !important
			&.der 
				.discount 
					bottom 0px
					right 0px
					background-size 72.5%
					background-repeat no-repeat
					background-position right bottom
					.percent 
						padding 0 0 2px 43px
					.simbol 
						width 10%
				.content 
					margin-left 0
					padding 0 10px !important
			.imagen 
				.bg-image
					width 190px
					height 190px
		.percent 
			font-size 20px
			width 26px
		.simbol 
			font-size 12px
			padding-bottom 2px
			span
				display none
		.logo-campaign 
			display none
			/* top 75px */
			width 25%
		.calls 
			width 100%
			background-size cover
			height 294px
			// background none 
			border 7.5px solid #d5dde6
			&::before 
				height 280px !important
			&::after 
				height 280px !important
				right -10px
		
		.slider-next 
			top 50%
		.slider-prev 
			top 50%
		.cintillo-top-mobile 
			display none
		
		.collapse-movil
			#main-menu
				// height auto
				opacity 1
				vendor('transition', all 0.2s ease-in 0s)
			.menu
				top 60px

		.nav-bar
			width 100%
			z-index 11
			&.fixedd
				top 48px
		.nav
			width 100%
		#btn-mobile
			display block
		#main-menu
			// height auto
			display block
			padding-left 0
			padding-right 0
			li
				margin-bottom 0
				a
					width 100%
		.menu
			padding 0
			margin-right 0
			margin-left 0
			width 100%
			clear both
			overflow hidden
			background-color black
			box-shadow none
			overflow hidden
			border-radius 0
			height auto
			bottom auto
			// padding-top 40px
			li
				float left
				clear none
				border-bottom 1px solid #fff
				width 100%
				&:nth-child(1)
					// border-top 1px solid #fff
				a
					display block
					color white
					height 30px
					.icon
						display none
				.active
					background-color black
					color white
		.slick-dots
			bottom -10px

@media screen and (max-width: 768px)
	#cyber
		overflow hidden
		#header-banner
			height auto
		#home
			// background-image url(../images/bg-home-mobile.png)
			height 100vh
			background-position center
		.call
			width 200px
			background none
			left 50%
			vendor('transform', translate(-50%,0))
			top 0
		.scroll
			top 40%
		
		#cintillo-superior
			img
				width 80%
				height auto
		.notes
			img
				height 65%
				width auto
		.box-center
			padding 0 10% !important
		
		.column 
			&.izq 
				.content 
					margin-right 0
					padding 0 10px 0 0 !important
			&.der 
				.content 
					margin-left 0
					padding 0 0 0 10px !important
			.imagen 
				.bg-image
					width 190px
					height 190px
		

		.nav-bar
			width 100%
			display block
			z-index 11
			&.fixedd
				top 48px
		.nav
			width 100%
		.sector_filtros 
			display none !important
		#btn-mobile
			display block
		#main-menu
			display block
			padding-left 0
			padding-right 0
			li
				margin-bottom 0
				.active
					color white
				a
					width 100%
		.menu
			margin-right 0
			margin-left 0
			width 100%
			clear both
			overflow hidden
			background-color black
			box-shadow none
			overflow hidden
			border-radius 0
			height auto
			bottom auto
			// border-bottom 1px solid #000
			li
				float left
				clear both
				border-bottom 1px solid #fff
				border-left 1px solid #fff
				width 100%
				&:nth-child(1)
					//- border-top 1px solid #000
				&:nth-child(even)
					border-right 1px solid #fff
				a
					display block
					color white
					height 30px
					.icon
						display none

@media screen and (max-width: 767px)
	#cyber
		margin-bottom 0
		#container
			max-width 690px
		.nav-bar
			position absolute
			top 0
			left 0
			width 100%
			height 60px
			margin 0
		#sponsor 
			margin-top 60px
			background-image url(../images/bg-mobile.png)
			background-repeat repeat
			width 100%
			height 450px
			position relative
			overflow hidden
			// margin-bottom 0
			background-size contain
			-webkit-background-size contain
			background-position 15% top
			background-color #dddee2
		.banner 
			padding-top 0px
			overflow hidden
		.slide 
			height 294px
			.col-xs-12 
				width 50%
		#header-banner .row .col-xs-12, #header-banner .row .col-sm-12, #header-banner .row .col-md-12, #header-banner .row .col-lg-12, #header-banner .row .col-xl-12 
			padding 0
		.calls .col-xs-12,.calls .col-sm-12, .calls .col-md-12, .calls .col-lg-12, .calls .col-xl-12 
			padding 0 !important

		.bx-wrapper 
			.bx-controls 
				bottom 7.5%
		#cintillo-superior
			width calc(100vw - 60px)
			background-size 300%
			background-repeat no-repeat
			margin-left 10px
			img
				width auto
				height auto
		.cintillo-top-mobile 
			display block
			width auto

		#sponsor 
			.slider-prev 
				left 10px
			.slider-next 
				right -22px
		.slider-prev 
			left 10px
		.slider-next 
			right -22px
		.column 
			&.izq 
				.content 
					padding 0 20px 0 0 !important
			&.der 
				.content 
					padding 0 0 0 20px !important

			.content 
				span
					&.antes 
						font-size 1.45vw
				.price
					.number 
						font-size 90px
						display table-cell
					.percent 
						font-size 55px
					.dscto 
						font-size 14px
					&.porcentual
						&::before
							left 35% !important
				.table
					&.percent
						.cyber
							margin-left 20%
						.price 
							&.porcentual
								margin-left 20%
				.wrapper
					padding-top 72.5%
					&.product
						padding-bottom 24%
						
		.logo-campaign
			left 25%
			// top 75px
		.cintillo-cyber 
			display none
		.cintillo-top-desktop 
			display none
		.cintillo-top-mobile 
			display block
			width auto
		.cintillo-bottom-desktop 
			display none
		.cintillo-bottom-mobile 
			display block
			width auto
		.calls 
			// background #d3dee4
			// border 7.5px solid #d3dee4
			height 294px
		.notas
			padding 12.5px 0 !important
		.notes
			img
				height 55%
				width auto
		.box-center
			padding 0 10% !important
		.collapse-movil
			#main-menu
				height calc(100vh - 60px)
		#main-menu
			padding-left 0
			padding-right 0
			display flex
			justify-content center
			flex-direction row
			flex-wrap wrap
			flex-basis 100%
			li
				display flex
				align-items center
				justify-content center
				width 50%
				float left
				clear none
				&:nth-child(1), &:nth-child(2)
					// border-top 1px solid #fff
				&:nth-child(even)
					border-left 1px solid #fff
				&:last-child
					margin 0 auto
					float none
					border-right 1px solid #000
					/* border none */
		#calls
			.coupon
				img
					opacity 1
					transform none
		.slick-dots
			bottom 5px

		.item
			height 100%
			display flex
			align-items center
			flex-direction column
			justify-content center
			padding-bottom 15px
			img
				height auto
				width 85%

@media screen and (max-width: 640px)
	#cyber
		#container
			max-width 540px
			margin 0 auto
		#sponsor
			background-position 23% center
		.logos
			margin-bottom 30px
		.image 
			width 72.5%
			img 
				width 100%
				height auto
		.slide 
			.col-xs-12 
				// width 100%
		.column 
			&.izq 
				.content 
					padding 0 10px 0 0 !important
			&.der 
				.content 
					padding 0 0 0 10px !important
			.content 
				span 
					&.aon 
						font-size 1.8vw
					&.descripcion 
						font-size 2vw
					&.cyber 
						font-size 1.6vw
					&.antes 
						font-size 1.75vw
				.price 
					font-size 7vh
					span 
						font-size 9vh
				.legales 
					font-size 1.4vw
			.imagen
				.bg-image
					width 140px
					height 140px
			.content 
				.price
					.number 
						font-size 72px
						display table-cell
					.percent 
						font-size 48px
					.dscto 
						font-size 14px
					&.porcentual
						&::before
							left 35% !important
				span
					&.note
						font-size 110%
				.wrapper
					padding-top 72.5%
					&.product
						padding-bottom 33%
		.bx-wrapper 
			.bx-controls 
				bottom 7.5%
		.logo-campaign
			// left 27%
		.box-center
			padding 0 10% !important
		#main-menu
			li
				a
					// height 30px
					line-height 30px
					font-size 12px

@media screen and (max-width: 540px)
	#cyber
		#container
			max-width 540px

@media screen and (max-width: 480px)
	#cyber
		#container
			max-width 450px
		#header-banner
			height auto
			overflow auto
		#sponsor
			background-image url(../images/bg-mobile.png)
			background-position center
			background-size auto
			background-repeat repeat
			height 535px
			height auto
			height 450px
			// overflow auto
			.slider-prev
				left 15px
				top 45%
			.slider-next
				right -17px
				top 45%
		.banner-slider
			background-image url(../images/sponsor_mobile.jpg)
			background-position center top
			background-size auto
			background-repeat no-repeat
		.slider-prev
			left 15px
			top 45%
		.slider-next
			right -17px
			top 45%

		.izq 
			.column 
				.content 
					padding 0 0 0 30px !important
		.der 
			.column 
				.content 
					padding 0 30px 0 0 !important
		.cintillo-top-mobile
			width auto
			height 90%
		.banner 
			width 100%
			height 450px
			// background-image url(../images/bg-banner.jpg)
			overflow initial
			background-size cover
			background-position center
		.slide 
			padding-bottom 10px
			padding-bottom 0
			height auto
			.col-xs-12 
				width 100%
		.image 
			width 62.5%
			height auto
			img 
				width 100%
				height auto
		.calls 
			// background-image url(../images/logo-cybermonday-mobile.png)
			background-repeat no-repeat
			background-position center 55%
			background-size auto
			// border 7.5px solid #d3dee4
			height 440px
		.column .imagen, 
			.column .content .wrapper 
			height 240px
			height 230px
		.column 
			.content 
				.wrapper
					padding-top 37.5%
					&.product
						justify-content center
						padding-bottom 0
					&.until
						justify-content center
						padding-top 0
				span 
					&.descripcion 
						font-size 3.5vw
					&.antes 
						font-size 3vw
					&.cyber 
						&.note 
							font-size 2.8vw
						&.big 
							font-size 4vw
					&.aon 
						font-size 2.5vw
					&.colores 
						font-size 3.25vw
				.price 
					font-size 6vw
					span 
						font-size 8vw
					&.porcentual 
						letter-spacing -2px
						&::before
							left 33% !important
							transform auto !important
							// -webkit-transform auto !important
							bottom 0
							width 33%
						.number
							padding-right 3px
					.number 
						font-size 12vh
					.percent 
						font-size 7.5vh
					.dscto 
						font-size 2vh

				.accion 
					font-size 3.25vw
				.legales 
					font-size 2.4vw
			&.izq 
				.content 
					padding 0 20px 0 0 !important
				.imagen
					margin 0 2.5%
			&.der 
				.content 
					padding 0 0 0 20px !important
				.imagen
					margin 0 2.5%
			.fullimage
				img
					margin-top 5%
		.slide-note
			bottom 3%
		.bx-wrapper 
			.bx-controls 
				bottom 4.5%
			.bx-viewport 
				height 475px !important
		.logo-cyber 
			img 
				width 87.5%
				height auto
				float left
		.column .content span.antes 
			font-size 2.6vw
		.column
			.imagen
				width 45%
				.bg-image
					width 150px
					height 150px

		.bx-wrapper 
			.bx-viewport 
				height 475px !important
		.logo-campaign
			width 45%
			left 50%
			top 33%
			transform translate(-50%, -50%)
		.current-category
			font-size 3.5vw
		.notes
			&::after
				display none
		.notes
			margin-bottom 7.5px
			img
				height 90%
				width auto
		#cintillo-superior
			width calc(100vw - 60px)
			float left
			img
				width 90%
				height auto
		.box-center
			padding 0 15% !important
		#main-menu
			li
				float left
				display flex
				align-items center
				justify-content center
				// width 100%
				// float left
				// clear both
				a
					display flex
					align-items center
					justify-content center
					flex-direction column
					//vertical-align middle
					height 100%
					line-height normal
					font-size 3.4vw
					// padding 0 20px
					.text
						margin 0
						font-size 3.2vw
						line-height 1.2

		.slick-dots
			bottom 5px

@media screen and (max-width: 414px)
	#cyber
		#container
			max-width 384px
		.breadcrumb
			.circles
				margin-top 10px
				clear both
		#products
			.slide
				width 100%

@media screen and (max-width: 384px)
	#cyber
		#container
			max-width 384px
		.current-category
			padding 0 2.5%

@media screen and (max-width: 345px)
	#cyber
		#container
			max-width 345px
		.breadcrumb
			.circles
				margin-top 10px
				clear both

@media screen and (max-width: 330px)
	#cyber
		#container
			max-width 330px
		.breadcrumb
			.circles
				margin-top 10px
				clear both
		.current-category
			padding 0 2.5%

@media screen and (max-width: 290px)
	#cyber
		#container
			max-width 290px
		.logos
			margin-top 25%

		.contents
			width 100%
			margin 5% auto

			.thank
				font-size 6.5vw
				height 40px
				padding-top 17.5px
			.text
				height 85px

