#sponsor-bc
	//- a.area.view-catalog(href='#')
		img(src='images/view-catalog.png', alt='')
	.logo-campaign
		a(href='#')
			img(src='assets/logo-campaign.png')
	.banner-slider
		//- span#slider-prev
		//- span#slider-next
		#slider-bc
			.item
				//- .call
				a(href='#')
					img(src='slider/1.png', alt='')
			.item
				//- .call
				a(href='#')
					img(src='slider/2.png', alt='')
			.item
				//- .call
				a(href='#')
					img(src='slider/3.png', alt='')
			.item
				//- .call
				a(href='#')
					img(src='slider/4.png', alt='')
			.item
				//- .call
				a(href='#')
					img(src='slider/5.png', alt='')
			.item
				//- .call
				a(href='#')
					img(src='slider/6.png', alt='')
