- var title_category = "video"
- var sala_active = "active"
- var sections = [{name:"Los Clasicos de cuero", hash:"#clasicos-cuero"}, {name:"Los Clasicos tapizados", hash:"#clasicos-tapizados"}, {name:"Seccionales", hash:"#seccionales"}, {name:"Mesas de centro", hash:"#mesas-centro"}, {name:"Jazzmin", hash:"#jazzmin"}, {name:"Tony", hash:"#tony"}, {name:"Barry", hash:"#barry"}]
.video.centervh
	video(src='assets/video-test.mp4', autoplay='autoplay', volume="0", loop='loop')
	//- img(src='images/video.jpg')