extends ../layout/layout2.pug
block content
	- var base_url = 'http://www.ripley.com.pe/minisitios/campana/cyber-mama/'
	if test=="dev"
		- var base_url = '../'

	#cyber(style='margin:0')
		// TV Y AUDIO
		.slider-banner#slider-tv-y-audio
			span.slider-prev
			span.slider-next
			.banner
				// Slide TV - AUDIO 1
				.slide
					img.logo-campaign.centerh(src!= base_url + 'assets/logo-tv-audio.jpg')
					.calls
						.column.izq.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
							//- .discount
								.percent 40
								.simbol
									| %
									span DSCTO.
							a.call-left(href='#')
								.imagen
									img.centerv(alt='', src!= base_url + 'productos/11.jpg')
								.content
									.wrapper.product
										.table
											span.aon
											span.marca
												img(alt='', src!= base_url + 'marcas/lg.jpg')
											span.descripcion SMART TV
												.line 49UH6500
											span.antes Precio Normal: S/ 3,999
											span.cyber Precio Oferta
											span.price
												| S/ 
												span 1,799
						.column.der.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
							//- .discount
								.percent 70
								.simbol
									| %
									span DSCTO.
							a.call-right(href='#')
								.content
									.wrapper.product
										.table
											span.aon
											span.marca
												img(alt='', src!= base_url + 'marcas/lg.jpg')
											span.descripcion SMART TV
												.line 55UH6030
											span.antes Precio Normal: S/ 4,199
											span.cyber Precio Oferta
											span.price
												| S/
												span 1,999
								.imagen
									img.centerv(alt='', src!= base_url + 'productos/12.jpg')

				// Slide TV - AUDIO 2
				.slide
					img.logo-campaign.centerh(src!= base_url + 'assets/logo-tv-audio.jpg')
					.calls
						.column.izq.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
							//- .discount
								.percent 40
								.simbol
									| %
									span DSCTO.
							a.call-left(href='#')
								.imagen
									img.centerv(alt='', src!= base_url + 'productos/13.jpg')
								.content
									.wrapper.product
										.table
											span.aon
											span.marca
												img(alt='', src!= base_url + 'marcas/samsung.jpg')
											span.descripcion SMART TV
												.line 40KU6000
											span.antes Precio Normal: S/ 2,499
											span.cyber Precio Oferta
											span.price
												| S/ 
												span 1,299
											//- span.pay-note
												| Todo medio de pago
						.column.der.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
							//- .discount
								.percent 70
								.simbol
									| %
									span DSCTO.
							a.call-right(href='#')
								.content
									.wrapper.product
										.table
											span.aon
											span.marca
												img(alt='', src!= base_url + 'marcas/samsung.jpg')
											span.descripcion SMART TV
												.line 55KU6000
											span.antes Precio Normal: S/ 3,999
											span.cyber Precio Oferta
											span.price
												| S/ 
												span 2,299
											//- span.pay-note
												| Todo medio de pago
								.imagen
									img.centerv(alt='', src!= base_url + 'productos/14.jpg')

				