.footer
	footer.ripley-footer(data-reactroot='')
		.ripley-footer__go-to-top.js-scroll-up
			.icon.fa.fa-chevron-up
			.label Subir
		#footer-mkt-1.ripley-footer__marketing.ripley-footer__marketing-1
		.ripley-footer__main-section
			.ripley-footer__main-section-inner.row
				#footer-mkt-2.ripley-footer__marketing.ripley-footer__marketing-2
				.main-links.col-xs-12.col-sm-12.col-md-8.col-lg-7
					.row
						.main-links__column.main-links__column--peru.col-xs-12.col-md-4
							.main-links__title.mobile-list-label.footer-list-title(data-target='footer-list-confianza')
								span.mobile-list-label__text Compra con Confianza
								span.mobile-list-label__icon
									svg.svg-icon.svg-icon-arrow_menu(role='img', title='arrow_menu')
										use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#arrow_menu')
							ul#footer-list-confianza.main-links__list
								li.main-links__text
									a(target='_blank', href='http://simple.ripley.com.pe/minisitios/especial/servicio-cliente#como-comprar') ¿Cómo comprar en Ripley.com?
								li.main-links__text
									a(target='_blank', href='http://www.ripley.com.pe/minisitios/guias-de-compra') Gúias de Compra
								li.main-links__text
									a(target='_blank', href='http://simple.ripley.com.pe/minisitios/especial/servicio-cliente#terminos-condiciones') Términos y condiciones
								li.main-links__text
									a(target='_blank', href='http://simple.ripley.com.pe/minisitios/especial/servicio-cliente#cambio-devolucion') Cambios y Devoluciones
								li.main-links__text
									a(target='_blank', href='http://simple.ripley.com.pe/minisitios/especial/servicio-cliente#bases-legales') Bases Legales
								li.main-links__text
									a(target='_blank', href='http://simple.ripley.com.pe/minisitios/especial/servicio-cliente#compra-segura') Seguridad y privacidad
								li.main-links__text
									a(target='_blank', href='http://simple.ripley.com.pe/minisitios/especial/seguimiento/') Seguimiento de despacho
								li.main-links__text
									a(target='_blank', href='http://simple.ripley.com.pe/minisitios/especial/servicio-cliente#atencion-cliente') Contáctenos
						.main-links__column.main-links__column--peru.col-xs-12.col-md-4
							.main-links__title.mobile-list-label.footer-list-title(data-target='footer-list-sobre-ripley')
								span.mobile-list-label__text Sobre Ripley
								span.mobile-list-label__icon
									svg.svg-icon.svg-icon-arrow_menu(role='img', title='arrow_menu')
										use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#arrow_menu')
							ul#footer-list-sobre-ripley.main-links__list
								li.main-links__text
									a(target='_blank', href='https://personasripley.pe/personas/') Portal de Personas
								li.main-links__text
									a(target='_blank', href='http://simple.ripley.com.pe/minisitios/especial/quienes-somos/') ¿Quiénes Somos?
								li.main-links__text
									a(target='_blank', href='http://simple.ripley.com.pe/minisitios/especial/servicio-cliente/ubicaciones') Nuestras Tiendas
								li.main-links__text
									a(target='_blank', href='https://trabajaenripley.pe/') Trabaja con nosotros
								li.main-links__text
									a(target='_blank', href='http://asp402r.paperless.com.pe/BoletaRIPLEY/') Comprobante Electrónico
						.main-links__column.main-links__column--peru.col-xs-12.col-md-4
							.main-links__title.mobile-list-label.footer-list-title(data-target='footer-list-mas-ripley')
								span.mobile-list-label__text Más de Ripley
								span.mobile-list-label__icon
									svg.svg-icon.svg-icon-arrow_menu(role='img', title='arrow_menu')
										use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#arrow_menu')
							ul#footer-list-mas-ripley.main-links__list
								li.main-links__text
									a(target='_blank', href='http://www.ripley.com.pe/minisitios/novios-ripley/') Novios Ripley
								li.main-links__text
									a(target='_blank', href='http://www.ripley.com.pe/minisitios/bebe-ripley/') Bebé Ripley
								li.main-links__text
									a(target='_blank', href='http://simple.ripley.com.pe/minisitios/especial/ventas-corporativas') Ventas Corporativas
								li.main-links__text
									a(target='_blank', href='http://www.bancoripley.com.pe/bancoripley/home/') Banco Ripley
								li.main-links__text
									a(target='_blank', href='http://www.bancoripley.com.pe/bancoripley/home/') Seguros Ripley
								li.main-links__text
									a(target='_blank', href='http://simple.ripley.com.pe/minisitios/especial/servicio-cliente#extra-garantia') Extra Garantía
				.right-column.col-xs-12.col-sm-12.col-md-4.col-lg-offset-1
					.right-column__container
						.right-column__subscribe
							span.right-column__title Suscríbete
							.right-column__subscribe-form-container.right-column__subscribe-form-container--peru
								form#footer-subscribe-form.right-column__subscribe-form(action='')
									span.invalid-mail Este correo no es válido
									input#footer-subscribe-input.right-column__subscribe-input-field(type='email', placeholder='Ingresa tu correo', required='')
									button.right-column__subscribe-input-button Suscríbete
									label.legal-agreement
										input#legal-agreement(type='checkbox', name='legal-agreement', required='')
										.legal-agreement__check
											svg.svg-icon.svg-icon-check-mark(role='img', title='check-mark')
												use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#check-mark')
										span
											| Acepto los 
											a(target='_blank', href='http://simple.ripley.com.pe/minisitios/especial/servicio-cliente#terminos-condiciones') Términos y condiciones
						.right-column__payment
							span.right-column__title Medios de Pago
							ul
								li.right-column__payment-method
									svg.svg-icon.svg-icon-payment-ripley-peru.right-column__payment-icon(role='img', title='payment-ripley-peru')
										use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#payment-ripley-peru')
								li.right-column__payment-method
									svg.svg-icon.svg-icon-payment-visa.right-column__payment-icon(role='img', title='payment-visa')
										use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#payment-visa')
								li.right-column__payment-method
									svg.svg-icon.svg-icon-payment-mastercard.right-column__payment-icon(role='img', title='payment-mastercard')
										use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#payment-mastercard')
								li.right-column__payment-method
									svg.svg-icon.svg-icon-payment-american.right-column__payment-icon(role='img', title='payment-american')
										use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#payment-american')
								li.right-column__payment-method
									svg.svg-icon.svg-icon-payment-diners.right-column__payment-icon(role='img', title='payment-diners')
										use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#payment-diners')
								li.right-column__payment-method.right-column__payment-method--pagoefectivo
									svg.svg-icon.svg-icon-payment-pagoefectivo.right-column__payment-icon(role='img', title='payment-pagoefectivo')
										use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#payment-pagoefectivo')
						.ripley-footer__social.right-column__social
							span.right-column__title Síguenos
							.ripley-footer__social-icons
								.rilpley-footer__social-icons
									a(target='_blank', href='https://www.facebook.com/RipleyPeru')
										i.fa.fa-facebook
									a(target='_blank', href='https://twitter.com/ripleyenperu')
										i.fa.fa-twitter
									a(target='_blank', href='https://www.youtube.com/user/tiendasripleyperu')
										i.fa.fa-youtube
									a(target='_blank', href='https://www.pinterest.com/ripleyperu/')
										i.fa.fa-pinterest-p
									a(target='_blank', href='https://plus.google.com/+ripleyperu')
										i.fa.fa-google-plus
				.bottom-legal.col-xs-12
					hr.bottom-legal__separator
					.bottom-legal__legal-text
						span
							| Precios solo disponibles en www.ripley.com.pe y Fonocompras. Precios Internet publicados incluyen descuento adicional. Precios sujetos a variaciones sin previo aviso. Productos sujetos a disponibilidad de stock. Solo consumo familiar. Stock mínimo 1 unidad por producto. Ofertas se rigen de acuerdo a los términos y condiciones. Despacho de producto se realizará una vez confirmada la compra.
		.subscription-categories-panel
			svg#svg-close-panel.svg-icon.svg-icon-cerrar.close-panel(role='img', title='cerrar')
				use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#cerrar')
			span.subscription-categories-panel__title ¡Gracias por suscribirte a Ripley.com!
			span.subscription-categories-panel__text
				| Selecciona las categorías de tu interés y entérate de todo lo que tenemos preparado para ti.
			ul
				li
					label
						input(type='checkbox', name='category-newsletter', value='Tecnologia')
						.check-newsletter
							svg.svg-icon.svg-icon-check-mark(role='img', title='check-mark')
								use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#check-mark')
						span Tecnología
				li
					label
						input(type='checkbox', name='category-newsletter', value='Ripley Home')
						.check-newsletter
							svg.svg-icon.svg-icon-check-mark(role='img', title='check-mark')
								use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#check-mark')
						span Ripley Home
				li
					label
						input(type='checkbox', name='category-newsletter', value='Infantil')
						.check-newsletter
							svg.svg-icon.svg-icon-check-mark(role='img', title='check-mark')
								use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#check-mark')
						span Infantil
				li
					label
						input(type='checkbox', name='category-newsletter', value='Moda y Calzado')
						.check-newsletter
							svg.svg-icon.svg-icon-check-mark(role='img', title='check-mark')
								use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#check-mark')
						span Moda y Calzado
				li
					label
						input(type='checkbox', name='category-newsletter', value='Computo')
						.check-newsletter
							svg.svg-icon.svg-icon-check-mark(role='img', title='check-mark')
								use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#check-mark')
						span Cómputo
				li
					label
						input(type='checkbox', name='category-newsletter', value='Electrohogar')
						.check-newsletter
							svg.svg-icon.svg-icon-check-mark(role='img', title='check-mark')
								use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#check-mark')
						span Electrohogar
				li
					label
						input(type='checkbox', name='category-newsletter', value='Dormitorio')
						.check-newsletter
							svg.svg-icon.svg-icon-check-mark(role='img', title='check-mark')
								use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#check-mark')
						span Dormitorio
				li
					label
						input(type='checkbox', name='category-newsletter', value='Belleza y Accesorios')
						.check-newsletter
							svg.svg-icon.svg-icon-check-mark(role='img', title='check-mark')
								use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#check-mark')
						span Belleza y Accesorios
				li
					label
						input(type='checkbox', name='category-newsletter', value='Deporte')
						.check-newsletter
							svg.svg-icon.svg-icon-check-mark(role='img', title='check-mark')
								use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#check-mark')
						span Deporte
			.newsletter-actions
				button#btn-cancel-newsletter.btn.btn-primary.cancel-newsletter Cancelar
				button#btn-save-newsletter.btn.btn-primary.save-newsletter Guardar Mis preferencias

style(type='text/css').
	#YoElijoZapatos{display: block; width: 140px; height: 46px; position: absolute; top: 0px; right: 0px; background-color: #F2F2F2;}
	#YoElijoZapatos img{max-width:80%; vertical-align:middle; float:right; padding:6px 20px 0 0;}
	@media only screen and (max-width: 780px){
	#YoElijoZapatos{width:143px; height:50px; right:289px; background-color: #DADADA;}
	#YoElijoZapatos img{max-width:90%;padding: 5px 10px 0 0;}
	}
	@media only screen and (max-width: 420px){
	#YoElijoZapatos{width:98px; height:50px; right:210px; background-color: #DADADA;}
	#YoElijoZapatos img{max-width:96%;padding: 10px 2px 0px 0;}
	}
	@media only screen and (max-width: 376px){
	#YoElijoZapatos{width: 92px; height:50px; right:189px}
	#YoElijoZapatos img{max-width:96%;padding:10px 2px 0px 0}
	}
	@media only screen and (max-width: 320px){
	#YoElijoZapatos{width: 74px; height:50px; right:163px}
	#YoElijoZapatos img{max-width:100%;padding:13px 0 0 0}
	}