@media screen and (max-width: 1600px)
	#landing
		.box-sliders
			/* width 1100px */
		.slide
			/* height 500px */
		.slick-prev
			left 7.5%

		.slick-next
			right 7.5%
@media screen and (max-width: 1440px)
	#landing
		.box-sliders
			/* width 900px */
		.slide
			/* height 400px */

		.slick-prev
			left 2.5%

		.slick-next
			right 2.5%

@media screen and (max-width: 1024px)
	#landing
		.intro
			/* height 100vh */
		.container
			max-width 990px
			padding 0
		.slide
			height 100%

		.call
			height 100%
			width 33.33%
			right auto
			left 5%
		.btn-know-w
			text-indent -9999999px
			width 226px
			height 62px
			display block
			margin 0 auto
		.texto-intro
			width 100%
			margin-top 75%
			img
				width 100%

		.scroll
			margin 80px auto 0

		.arrow-scroll
			display block
		
		section
			height auto
			float left
			
		#slider-productos
			color white
			display -ms-flexbox
			display -webkit-flex
			display flex
			-ms-flex-align center
			-webkit-align-items center
			-webkit-box-align center
			align-items center
			.slide
				height 280px
				img
					height 280px
			.slick-next
				left 52.5%
		.box-model
			display block
		#productos
			.container
				float none
				margin auto
		.menu
			li
				a
					width 100%

		.slick-prev
			top 50%
			vendor('transform', translate(0,-50%))
			left 1%

		.slick-next
			top 50%
			vendor('transform', translate(0,-50%))
			right 1%
		.ventajas
			left 605px
			top 5%
			width 360px

		.bg-subcategorias
			background-size auto 78.5%
			-webkit-background-size auto 78.5%
		.logo-brand
			left 10%
		/*
		.subcategoria
			pointer-events none
		.lista-subcategoria
			li
				a
					pointer-events auto
						*/
		.over-content
			background-color rgba(255,255,255,.6)
			padding-top 15%


		.bread
			height 32px
			margin-bottom 36px
			.contents
				width 100%
		.tv-header
			height auto
		.tvs
			width 58.71%
			padding 0 5px
			height auto
			margin-right 0
			.box-tv
				&:last-child
					width 326px
					margin-right 0
					padding-right 0
		.box-tv
			width 50% !important
			padding 0 5px
			height auto
			margin-right 0
			.features
				.btn-buy
					display inline-block
			img
				min-height 200px
				max-height 200px
				margin 0 auto
			&:hover
				.features
					top auto
		.foot-tvs
			display none

			background-color rgba(255,255,255, .8)
			position absolute
			height 45px
			width 100%
			z-index 100
			bottom 0
			left 0
			text-align center
			.btn-buy
				margin-left 12px

		.complement
			width 41.11%
			padding 0 5px
			height auto
			img
				min-height 187px
		.one
			width 39%
			padding 0 5px
			margin-right 0
			float left
			max-height none
			&:hover
				.features
					bottom 0 !important
					background-color rgba(255,255,255,1)
			.note
				font-size 15px
		.two
			width 22%
			padding 0 5px
			margin-right 0 !important
			max-height none
			overflow hidden
			.box-image
				width 100%
				cursor pointer
				height auto !important
				&:last-child
					height 280px
					margin-bottom 0
					.features
						bottom -215px
						
			.features
				bottom -208px
				height 50%
				float right
				clear none
			.category
				height 60px
				font-size 3vh
				line-height 2.333
			.name
				font-size 13px
				margin-bottom 2px
			.note
				font-size 15px
		.box-accesorios
			.features
				margin-top -50px
				padding-bottom 0
				background-color white
		.box-monitores
			.features
				margin-top -30px
				padding-top 10px
				padding-bottom 0
				background-color white
		.features
			position relative
			top auto
			left auto
			bottom auto !important
			clear both
			float left
			transform none
			-webkit-transform none

@media screen and (max-width: 992px)
	#landing
		.box-tv
			img
				min-height 187px
				max-height 187px
	
		.category
			font-size 3.5vw
			height 57px

		.two
			.category
				font-size 2.25vw
				height 42px
				line-height 42px

@media screen and (max-width: 768px)
	#landing
		.container
			max-width initial
			padding initial
		.contents
			width 100%
		.intro
			/* background-image url(../images/bg-home-mobile.png) */
			width 100%
			background-position center
		.call
			width 220px
			background none
			left 17.5%
			vendor('transform', translate(-50%,0))
			top 0
		.texto-intro
			margin-top 110%
		.btn-know-w
			width 65%
			background-image url(../images/btn-know-w.png)
			background-size contain
			-webkit-background-size contain
			background-position 0
		.scroll
			/* top 40% */
		.nav-bar
			width 95%
		.nav
			width 100%
		#mainmenu
			.menu
				padding 0
				width auto
				li
					a
						.text
							font-size 2vw
						.elements
							font-size 1.75vw
					&::after
						display none
					.active
						&::after
							display none
				&::after
					display none

		#slider-prev
			top 50%
		#slider-next
			top 50%

		#slider-home
			height 460px
			width 100%
		.slide
			height 100%
			width 100%
			img
				width 100%
				position relative
				margin 0
		.slick-dots
			width 100%
		.logo-mobile
			position absolute
			left 1%
			z-index 10
		.logo-brand
			left 2.5%
		#productos
			height 66vh
		.title-productos
			font-size 3.5vw
		.lampara
			left -10%
		.adorno
			top auto
			width 20%
			bottom 0
			right 5%

		#slider-productos
			width 95%
			background-size contain
			-webkit-background-size contain
			-ms-flex-align baseline
			-webkit-align-items baseline
			-webkit-box-align baseline
			align-items baseline
			.slide
				height 60vh
				img
					height 300px
			.slick-prev
				left -3%
			.slick-next
				right -3%
				left auto
		.ventajas
			top 50%
			left 50%
			vendor('transform', translate(-50%,0))
			.title
				img
					width 40%

		#subcategorias
			height 100vh

		.bg-subcategorias
			padding-top 20px
			background-position center top
			.contents
				display -ms-flexbox
				display -webkit-flex
				display flex
				-ms-flex-align center
				-webkit-align-items center
				-webkit-box-align center
				align-items center
				flex-direction column
		.wrap-subcategoria
			width 37.5%
		.col-subcategoria
			padding auto
		.info
			display -ms-flexbox
			display -webkit-flex
			display flex
			-ms-flex-align center
			-webkit-align-items center
			-webkit-box-align center
			align-items center
			flex-direction column
		.subcategoria
			margin-bottom 20px
		.info-subcategoria
			padding 25% 30px
		.title-subcategoria
			width 90%
			margin 0 auto 24px
			&::before
				bottom -33%
			img
				height 25px
		.lista-subcategoria
			li
				a
					font-size 95%
		.more-info
			width 90%
			padding-top 0
			font-size 95%
			line-height 1.2
	
@media screen and (max-width: 767px)
	#landing
		margin-bottom -60px
		.intro
			/* background-image url(../images/bg-home.jpg) */
			background-position center
			background-size cover
			-webkit-background-size cover
			height 400px
			margin-bottom 50px
			.nav-bar
				position absolute
				top 0
				left 0
				width 100%
				height 50px
				margin 0
				display block
		.call
			width 33.33%
			left 5%
			transform none
			-webkit-transform none
		.texto-intro
			margin-top 50%
		.btn-know-w
			width 65%
			background-image url(../images/btn-know-w.png)
			background-size contain
			-webkit-background-size contain
			background-position 0

		.scroll
			display none
			margin 0 auto
			position absolute
			bottom 10px !important
			left 50%
			transform translate(-50%, 0)
			-webkit-transform translate(-50%, 0)
		.products
			height 290px
		.lnk-product
			width 90%
			font-size 2.5vh
		.slider
			height auto
			margin-top 111px

		.img-category
			img
				width 100%
		section
			margin-bottom 50px

		.contents
			float none

			.thank
				font-size 6.5vh
				height 50px
				padding-top 60px
			.text
				font-size 4.5vh
				height 96px
				span
					font-size 14vh
					em
						font-size 12vh
		.img-slide
			height 400px
		.text-slide
			width 100%
			padding 0 15px
			span
				font-size 95%
		.nav
			display none
		.menu-mobile
			height auto
			display block
			padding-left 0
			padding-right 0
			width 100%
			background-color black
			box-shadow none
			border-radius 0
			height auto
			li
				margin-bottom 0
				height 41px
				border-bottom 1px solid #fff
				width 100%
				.active
					color white
				a
					width 100%
					display block
					color white
					height 30px
		.logo-mobile
			width 15%
			display block
		.menu
			clear both
			overflow hidden
			// display none
			bottom auto
			li
				float left
				clear both
				a
					.icon
						display none
				.active
					background-color black
					color white
		#btn-mobile
			display block

		.link
			top 60%

		.texto-intro
			width 100%
		.scroll
			/*
			top auto
			bottom 3%
			*/
		.slide
			height auto
		.slick-dots
			bottom 0
		#slider-home
			height auto
		
		#productos
			height 120vh
			.contents
				padding-top 30px
		.title-productos
			margin-bottom 30px
			img
				width 500px
			&::after
				bottom -35%
		#slider-productos
			width 95%
			height 90vh
			background-size contain
			-webkit-background-size contain
			.slide
				height auto
				img
					width 65%
					height auto
		#slider-tv
			.slick-prev
				top 50%
			.slick-next
				top 50%
		.ventajas
			top 5%
			left auto
			transform none
			-webkit-transform none
			width 40%
			padding 20px 0
			.title
				margin-bottom 20px
				font-size 4.5vh
				img
					width 50% !important
				&::before
					bottom -9px
			.lista
				margin 0 10% 15px
				li
					margin-bottom 8px
					padding-left 15px
					font-size 3.25vh
		.title-subcategorias
			margin-bottom 0
			height 70px
			img
				width auto !important
			&::after
				bottom 20%
		.bg-subcategorias
			padding-top 0
			background-size auto 100%
			height calc(100vh - 70px)
			.contents
				flex-direction row
		.subcategoria
			margin 2px
		.lista-subcategoria
			li
				line-height 1.2
		
		.bread
			.contents
				width 568px
		.arrows, .title-detail
			display none !important
		
		.tv-header
			width 568px
			margin 0 auto 13px
			float none
		.tvs
			width 100%
			margin 0 auto 13px
			float none
			padding 0
			background-color #f4f4f4
		#slider-tv
			width 320px
			margin 0 auto
			height 340px
		.box-tv
			width 320px
			height 340px
			position relative
			img
				/* width 100% */
				height auto
				display block
			.features
				position absolute
				top auto
				left 50%
				transform translate(-50%, 0)
				-webkit-transform translate(-50%, 0)
				bottom 10px
				background-color transparent
				.cyber
					font-size 14px
				.price
					font-size 20px
					span
						font-size 32px

		.box-tv
			width 320px !important
			margin 0 auto
			padding 0
			.features
				padding 10px 0 10px
				height auto
				width 50%
				right 5%
				background-color transparent
				margin-top -30px
			.note
				font-size 3vh

		.complement, .one, .two, .box-image
			width 568px !important
			margin 0 auto !important
			float none !important
			padding 0
			.features
				width 40%
				right 5%
				background-color rgba(255,255,255,1)
			.note
				font-size 3vh

		.one
			margin-bottom 6px

		#tv
			padding-top 0 !important

		#linea-blanca
			padding-top 0 !important
			.one
				&:first-child
					.features
						left 5%
			.two
				.box-image
					&:first-child
						.features
							left 5%
		#tecnologiaa
			padding-top 0 !important
			margin-bottom 10px !important
			.one
				&:first-child
					.features
						left 5%
			.two
				.box-image
					&:last-child
						.features
							left 5%
		.box-accesorios, .box-monitores
			.features
				margin-top 0
		.features, .two .features
			height 100%
			position absolute
			top 0
			bottom auto
			padding 0
			background-color  white
			display -ms-flexbox
			display -webkit-flex
			display flex
			-webkit-flex-direction column
			-ms-flex-direction column
			flex-direction column
			-webkit-flex-wrap nowrap
			-ms-flex-wrap nowrap
			flex-wrap nowrap
			-webkit-justify-content center
			-ms-flex-pack center
			justify-content center
			-webkit-align-content stretch
			-ms-flex-line-pack stretch
			align-content stretch
			-webkit-align-items center
			-ms-flex-align center
			align-items center
			.category
				font-size 6vh
				line-height 1

@media screen and (max-width: 700px)
	#landing
		#products 
			.item
				width 50%
		.title-feature
			font-size 3.5vw
			margin-bottom 15px
		.note
			font-size 2.5vw
			/* padding-bottom 15px */
		.list-features
			li
				font-size 2vw
		#tecnologiaa
			&::before
				top: 50%;
		.products
			height 290px
		.lnk-product
			width 90%
			font-size 1.5vw
		.ventajas
			.lista
				li
					font-size 3.25vh
		.over-content
			padding-top 5%

@media screen and (max-width: 640px)
	#landing
		.logos
			margin-bottom 30px
		#section-categorys
			margin-top -6%
		.title-productos
			img
				 width 70%
		.title-subcategoria
			margin 0 auto 15px
		.ventajas
			.lista
				margin 0 8% 6%
				li
					margin-bottom 6px
					font-size 3.4vh
		.lista-subcategoria
			li
				a
					font-size 95%

		.complement, .one, .two, .box-image
			width 100% !important
			margin 0 auto !important
			float none !important
	
		.texto-intro
			margin-top 70%
		.tv-header
			width 100%
		

@media screen and (max-width: 480px)
	#landing
		margin -30px 0 -60px 0
		.intro
			background-image url(../images/header-m.jpg)
			background-size cover
			-webkit-background-size cover
			height 480px
		.call
			width 65%
			left 50%
			transform translate(-50%,0)
			-webkit-transform translate(-50%,0)
		.texto-intro
			margin-top 115%
		.btn-know-w
			width 50%
		.logos
			margin-top 30%
			img
				width 100%
		.nav-bar
			clear both
			margin-bottom 20px

		.fb-like
			left 50%
			transform translate(-50%, 0)
			-webkit-transform translate(-50%, 0)

		.nav-section
			display none
		.logo-mobile
			width 20%

		.slide
			display block
			img
				width 100%
		.slick-dots
			bottom 5px
		.expand
			height auto
			.title-menu
				&::before
					transform rotate(0deg)
					-webkit-transform rotate(0deg)
		.over-content
			padding-top 10%

		.title-menu
			color #3a3a3a !important
			&::before
				position absolute
				width 12px
				height 8px
				top 40%
				content ''
				background-image url(../images/arrow-menu-mobile.png)
				position absolute
				right 10%
				transform rotate(-180deg)
				-webkit-transform rotate(-180deg)

		#slider-tv
			.slick-prev
				left 1%

			.slick-next
				right 1%

		.slider
			margin-top 66px
		#productos
			height 100vh
			.contents
				padding-top 25px
			.title-productos
				margin-bottom 20px
		.title-productos
			img
				 width 70%
		#slider-productos
			height calc(100vh - 67px)
			background-size contain
			-webkit-background-size contain
			.slide
				height 85vh
				img
					margin-top 7.5%
					width 100%
		.ventajas
			width 90%
			top 50vh
			left 50%
			transform translate(-50%, 0)
			-webkit-transform translate(-50%, 0)
			.check
				width 28px
				height 28px
				background transparent url(../images/check.png) center no-repeat
				background-size 100% 100%
			.title
				height 28px
				font-size 4.5vw
				img
					margin 8px auto !important
					width 40% !important
				&::before
					height 2px
			.lista
				margin 0 8% 5%
				li
					font-size 3.5vw
					padding-left 14px
					&::before
						width 6px
						height 6px
						bottom 30%

		.title-subcategorias
			height 50px
			display -ms-flexbox
			display -webkit-flex
			display flex
			-ms-flex-align center
			-webkit-align-items center
			-webkit-box-align center
			align-items center
			flex-direction column
			justify-content center
			img
				width 65% !important
				margin-bottom 2%
		.bg-subcategorias
			padding-top 1%
			height calc(100vh - 50px)
			.contents
				flex-direction column
		.wrap-subcategoria
			width 100%
		.col-subcategoria
			width 50%
			float left
		.subcategoria
			width 57.5%
			margin 4px
			&:last-child
				margin-bottom 4px
		.lista-subcategoria
			li
				line-height 1.1
				a
					font-size 90%
		.info-subcategoria
			font-size 3vw
			line-height 1.25
		.text-slide
			bottom 10px
		.more-info
			font-size 80%
			width 90%
		.text-slide
			bottom 2.5%
		
		section
			padding-top 0
		
		.features, .two .features
			padding 0
			.category
				height 40px
				font-size 5vw
				line-height 1
			.name
				font-size 2vh
			.antes
				font-size 1.5vh
			.cyber
				font-size 1.5vh
			.price
				font-size 3vh
				span
					font-size 4vh
			.note
				font-size 1.75vh !important
			.hasta
				font-size 2vh
		.number
			font-size 11vh
		.percent
			font-size 8vh
		.dscto
			font-size 1.75vh
		
		.btn-buy
			width 70%
			height 30px
			line-height 30px
			font-size 2vh

@media screen and (max-width: 360px)
	#landing
		.call
			width 65%
			left 50%
			transform translate(-50%,0)
			-webkit-transform translate(-50%,0)
		.texto-intro
			margin-top 130%
		.btn-know-w
			width 50%
		.ventajas
			top auto
			bottom 0
		.subcategoria
			width 55%
		.img-slide
			height 350px
		.title-subcategoria
			width 80%
			margin 0 auto 12.5px
			img
				height 25px
		.bg-subcategorias
			padding-top 0
		.over-content
			padding-top 5%
		.ventajas
			.title
				img
					width 45% !important
		.lista-subcategoria
			li
				a
					font-size 85%
		.title-section
			font-size 10vw
		.features
			.category
				height 30px
			.name
				font-size 1.75vh
		.pay
			font-size 2.5vw

@media screen and (max-width: 320px)
	#landing
		.texto-intro
			margin-top 150%
		.logos
			margin-top 25%

		#section-categorys
			margin-top -40%
		.title-productos
			img
				 width 65%