.sprite { background: url('sprite.png') no-repeat top left; width: 14px; height: 31px;  } 
.sprite.aon { background-position: 0 0; width: 51px; height: 33px; } 
.sprite.arrow-left { background-position: -51px 0; } 
.sprite.arrow-right { background-position: -65px 0; } 
.sprite.arrows { background-position: -79px 0; width: 24px; height: 27px; } 
.sprite.arrow-scroll { background-position: -103px 0; width: 25px; height: 50px; } 
.sprite.btn-know { background-position: -128px 0; width: 226px; height: 62px; } 
.sprite.btn-know-w { background-position: -354px 0; width: 226px; height: 62px; } 
.sprite.logo-brand { background-position: -580px 0; width: 130px; height: 21px; } 