.sprite { background: url('sprite.png') no-repeat top left; width: 20px; height: 36px;  } 
.sprite.arrow-left { background-position: 0 0; width: 61px; height: 61px; } 
.sprite.arrow-link { background-position: 0 -61px; width: 18px; height: 18px; } 
.sprite.arrow-right { background-position: 0 -79px; width: 61px; height: 61px; } 
.sprite.arrow-scroll { background-position: 0 -140px; width: 21px; height: 52px; } 
.sprite.comprar { background-position: 0 -192px; width: 110px; height: 35px; } 
.sprite.dots-home { background-position: 0 -227px; width: 3px; height: 701px; } 
.sprite.dots-section { background-position: 0 -928px; width: 3px; height: 701px; } 
.sprite.icon-accesorios { background-position: 0 -1629px; width: 30px; } 
.sprite.icon-accesorios-activo { background-position: 0 -1665px; width: 30px; } 
.sprite.icon-audio { background-position: 0 -1701px; width: 48px; height: 42px; } 
.sprite.icon-audio-activo { background-position: 0 -1743px; width: 93px; height: 42px; } 
.sprite.icon-blanca { background-position: 0 -1785px; width: 48px; height: 42px; } 
.sprite.icon-blanca-activo { background-position: 0 -1827px; width: 93px; height: 42px; } 
.sprite.icon-celu { background-position: 0 -1869px; } 
.sprite.icon-celu-activo { background-position: 0 -1905px; } 
.sprite.icon-cocina { background-position: 0 -1941px; width: 30px; height: 38px; } 
.sprite.icon-cocina-activo { background-position: 0 -1979px; width: 30px; height: 38px; } 
.sprite.icon-compu { background-position: 0 -2017px; width: 51px; } 
.sprite.icon-compu-activo { background-position: 0 -2053px; width: 51px; } 
.sprite.icon-full-hd { background-position: 0 -2089px; width: 44px; height: 30px; } 
.sprite.icon-full-hdactivo { background-position: 0 -2119px; width: 44px; height: 30px; } 
.sprite.icon-hd { background-position: 0 -2149px; width: 43px; height: 31px; } 
.sprite.icon-hd-activo { background-position: 0 -2180px; width: 43px; height: 31px; } 
.sprite.icon-ht { background-position: 0 -2211px; width: 34px; } 
.sprite.icon-ht-activo { background-position: 0 -2247px; width: 34px; } 
.sprite.icon-lavad { background-position: 0 -2283px; width: 26px; height: 38px; } 
.sprite.icon-lavad-activo { background-position: 0 -2321px; width: 26px; height: 38px; } 
.sprite.icon-microo { background-position: 0 -2359px; width: 44px; height: 38px; } 
.sprite.icon-microo-activo { background-position: 0 -2397px; width: 44px; height: 38px; } 
.sprite.icon-mini { background-position: 0 -2435px; width: 54px; } 
.sprite.icon-mini-activo { background-position: 0 -2471px; width: 54px; } 
.sprite.icon-oled { background-position: 0 -2507px; width: 42px; height: 30px; } 
.sprite.icon-oled-activo { background-position: 0 -2537px; width: 42px; height: 30px; } 
.sprite.icon-phone { background-position: 0 -2567px; width: 21px; height: 21px; } 
.sprite.icon-refri { background-position: 0 -2588px; height: 38px; } 
.sprite.icon-refri-activo { background-position: 0 -2626px; height: 38px; } 
.sprite.icon-sound { background-position: 0 -2664px; width: 28px; } 
.sprite.icon-super-hd { background-position: 0 -2700px; width: 43px; height: 30px; } 
.sprite.icon-super-hd-activo { background-position: 0 -2730px; width: 43px; height: 30px; } 
.sprite.icon-tecnologia { background-position: 0 -2760px; width: 48px; height: 42px; } 
.sprite.icon-tecnologia-activo { background-position: 0 -2802px; width: 116px; height: 42px; } 
.sprite.icon-tv { background-position: 0 -2844px; width: 48px; height: 42px; } 
.sprite.icon-tv-activo { background-position: 0 -2886px; width: 78px; height: 42px; } 
.sprite.icon-uhd { background-position: 0 -2928px; width: 38px; height: 30px; } 
.sprite.icon-uhd-activo { background-position: 0 -2958px; width: 38px; height: 30px; } 