extends ./layout/layout.pug

block title
	title CYBER - Ripley

block content
	- var base_url = 'http://simple.ripley.com.pe/cyber-papa/'

	include includes/mixins.pug

	.container-fluid#header-banner
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
				nav.nav-bar
					//- figure#cintillo-superior
						a(href='#')
							img.cintillo-cyber.centervh(src='images/cintillo-top.png')
							img.cintillo-top-mobile.centervh(src='images/cintillo-top-mobile.png')
					.current-category.centervh.align-left
					button#btn-mobile
						span
						span
						span
					ul#main-menu.menu
						li
							a.lnk-menu(href!= base_url +'regalos-top')
								| Regalos Top
								//- | Regalos TOP para mamá
						li
							a.lnk-menu(href!= base_url +'celulares-y-videojuegos')
								//- | Celulares
								| Celulares y Tecnología
						li
							a.lnk-menu(href!= base_url +'muebleria')
								| Muebles y Hogar
						li
							a.lnk-menu(href!= base_url +'tv-y-video')
								| TV y Video
								//- | TV y Audio
						li
							a.lnk-menu(href!= base_url +'belleza-y-accesorios')
								//- | Belleza y Accesorios
								| Relojes y Accesorios
						li
							a.lnk-menu(href!= base_url +'laptops-y-tablets')
								//- | Cómputo
								| Laptops y Tablets
						li
							a.lnk-menu(href!= base_url +'dormitorio')
								| Dormitorio
						li
							a.lnk-menu(href!= base_url +'electrohogar')
								| Electrohogar
						//- li
							a.lnk-menu(href!= base_url +'deco')
								| Ripley Home
						li
							a.lnk-menu(href!= base_url +'moda')
								| Moda
								//- | Jueguetes y Bebés
						li
							a.lnk-menu(href!= base_url +'fitness')
								| Fitness
								//- | Máquinas y Bicicletas
						li
							a.lnk-menu(href!= base_url +'calzado-y-zapatillas')
								//- | Calzado
								| Calzado y Zapatillas
						li
							a.lnk-menu(href!= base_url +'regalos-a-menos-de-200')
								//- | Calzado
								| Regalos a menos de S/ 200
						//- li
							a.lnk-menu(href!= base_url +'infantil')
								| Infantil
								//- | Jueguetes y Bebés

				#sponsor
					include ./includes/banner-catalogo.pug
					//- iframe#sliders(frameborder="none", with="100%", height="100%")
				//- #sponsor
					//- img.logo-campaign.centerh(src='assets/logo-campaign.png')

					// LAPTOPS Y TABLETS
					//-  .slider-banner#slider-000
					.slider-banner#slider-laptops-y-tablets
						span.slider-prev
						span.slider-next
						.banner
							// Slide LAPTOPS 1
							.slide
								img.logo-campaign.centerh(src='assets/logo-laptops.jpg')
								.calls
									.column.izq.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
										//- .discount
											.percent 40
											.simbol
												| %
												span DSCTO.
										a.call-left(href='#')
											.imagen
												img.centerv(alt='', src='productos/1.jpg')
											.content
												.wrapper
													.table
														span.aon
														span.marca
															img(alt='', src='marcas/hp.jpg')
														span.descripcion LAPTOP CORE i3
															.line AY011
															.line &nbsp;
														span.antes Precio Normal: S/ 1,499
														span.cyber Precio Oferta
														span.price
															| S/ 
															span 1,699
									.column.der.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
										//- .discount
											.percent 70
											.simbol
												| %
												span DSCTO.
										a.call-right(href='#')
											.content
												.wrapper
													.table
														span.aon
														span.marca
															img(alt='', src='marcas/lenovo.jpg')
														span.descripcion LAPTOP CORE i5
															.line IDEAPAD 310 CON
															.line TARJETA DE VIDEO 2GB
														span.antes Precio Normal: S/ 2,599
														span.cyber Precio Oferta
														span.price
															| S/ 
															span 1,899
											.imagen
												img.centerv(alt='', src='productos/2.jpg')

							// Slide LAPTOPS 2
							.slide
								img.logo-campaign.centerh(src='assets/logo-laptops.jpg')
								.calls
									.column.izq.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
										//- .discount
											.percent 40
											.simbol
												| %
												span DSCTO.
										a.call-left(href='#')
											.imagen
												img.centerv(alt='', src='productos/3.jpg')
											.content
												.wrapper
													.table
														span.aon
														span.marca
															img(alt='', src='marcas/asus.jpg')
														span.descripcion LAPTOP CORE i7
															.line X555LA
															.line &nbsp;
														span.antes Precio Normal: S/ 2,999
														span.cyber Precio Oferta
														span.price
															| S/ 
															span 2,099
									.column.der.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
										//- .discount
											.percent 70
											.simbol
												| %
												span DSCTO.
										a.call-right(href='#')
											.content
												.wrapper
													.table
														span.aon
														span.marca
															img(alt='', src='marcas/dell.jpg')
														span.descripcion LAPTOP CORE i5
															.line I3459 CON TARJETA
															.line DE VIDEO 2GB
														span.antes Precio Normal: S/ 2,399
														span.cyber Precio Oferta
														span.price
															| S/ 
															span 1,699
											.imagen
												img.centerv(alt='', src='productos/4.jpg')

					// TV Y AUDIO
					.slider-banner#slider-tv-y-audio
						span.slider-prev
						span.slider-next
						.banner
							// Slide TV - AUDIO 1
							.slide
								img.logo-campaign.centerh(src='assets/logo-tv-audio.jpg')
								.calls
									.column.izq.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
										//- .discount
											.percent 40
											.simbol
												| %
												span DSCTO.
										a.call-left(href='#')
											.imagen
												img.centerv(alt='', src='productos/5.jpg')
											.content
												.wrapper
													.table
														span.aon
														span.marca
															img(alt='', src='marcas/lg.jpg')
														span.descripcion SMART TV
															.line 49UH6500
														span.antes Precio Normal: S/ 3,599
														span.cyber Precio Oferta
														span.price
															| S/
															span 1,899
									.column.der.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
										//- .discount
											.percent 70
											.simbol
												| %
												span DSCTO.
										a.call-right(href='#')
											.content
												.wrapper
													.table
														span.aon
														span.marca
															img(alt='', src='marcas/samsung.jpg')
														span.descripcion Smart TV
															.line 40KU6000
														span.antes Precio Normal: S/ 2,499
														span.cyber Precio Oferta
														span.price
															| S/ 
															span 1,399
											.imagen
												img.centerv(alt='', src='productos/6.jpg')

							// Slide TV - AUDIO 2
							.slide
								img.logo-campaign.centerh(src='assets/logo-tv-audio.jpg')
								.calls
									.column.izq.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
										//- .discount
											.percent 40
											.simbol
												| %
												span DSCTO.
										a.call-left(href='#')
											.imagen
												img.centerv(alt='', src='productos/7.jpg')
											.content
												.wrapper
													.table
														span.aon
														span.marca
															img(alt='', src='marcas/lg.jpg')
														span.descripcion MINI COMPONENTE
															.line CM4360
														span.antes Precio Normal: S/ 399
														span.cyber Precio Oferta
														span.price
															| S/ 
															span 199
									.column.der.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
										//- .discount
											.percent 70
											.simbol
												| %
												span DSCTO.
										a.call-right(href='#')
											.content
												.wrapper
													.table
														span.aon
														span.marca
															img(alt='', src='marcas/lg.jpg')
														span.descripcion BARRA DE 
															.line SONIDO SH2
														span.antes Precio Normal: S/ 399
														span.cyber Precio Oferta
														span.price
															| S/ 
															span 199
											.imagen
												img.centerv(alt='', src='productos/8.jpg')

					// CELULARES Y VIDEOJUEGOS
					.slider-banner#slider-celulares-y-videojuegos
						span.slider-prev
						span.slider-next
						.banner
							// Slide CELULARES 1
							.slide
								img.logo-campaign.centerh(src='assets/logo-celulares.jpg')
								.calls
									.column.izq.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
										//- .discount
											.percent 40
											.simbol
												| %
												span DSCTO.
										a.call-left(href='#')
											.imagen
												img.centerv(alt='', src='productos/9.jpg')
											.content
												.wrapper
													.table
														span.aon
														span.marca
															img(alt='', src='marcas/motog4-play.jpg')
														span.descripcion 8MP DOBLE CHIP
															//- .line de cuero
														span.antes Precio Normal: S/ 999
														span.cyber PRECIO OFERTA
														span.price
															| S/ 
															span 429
														//- span.note.f-size9
															| *Disponible en 1 y 3 cuerpos
														//- span.colores
															| Colores disponibles
														//- span.iconos-colores
															img(src='images/color-negro.png')
															img(src='images/color-blanco.png')
									.column.der.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
										//- .discount
											.percent 70
											.simbol
												| %
												span DSCTO.
										a.call-right(href='#')
											.content
												.wrapper
													.table
														span.aon
														span.marca
															img(alt='', src='marcas/motog4-plus.jpg')
														span.descripcion 16 MP XT1641
															//- z.line mesa + 6 sillas
														span.antes Precio Normal: S/ 1,399
														span.cyber Precio Oferta
														span.price
															| S/ 
															span 949
											.imagen
												img.centerv(alt='', src='productos/10.jpg')

							// Slide CELULARES 2
							.slide
								img.logo-campaign.centerh(src='assets/logo-celulares.jpg')
								.calls
									.column.izq.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
										//- .discount
											.percent 40
											.simbol
												| %
												span DSCTO.
										a.call-left(href='#')
											.imagen
												img.centerv(alt='', src='productos/11.jpg')
											.content
												.wrapper
													.table
														span.aon
														span.marca
															img(alt='', src='marcas/lenovo.jpg')
														span.descripcion VIBE K5 4G
															//- .line de cuero
														span.antes Precio Normal: S/ 999
														span.cyber PRECIO OFERTA
														span.price
															| S/ 
															span 479
														//- span.note.f-size9
															| *Disponible en 1 y 3 cuerpos
														//- span.colores
															| Colores disponibles
														//- span.iconos-colores
															img(src='images/color-negro.png')
															img(src='images/color-blanco.png')
									.column.der.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
										//- .discount
											.percent 70
											.simbol
												| %
												span DSCTO.
										a.call-right(href='#')
											.content
												.wrapper
													.table
														span.aon
														span.marca
															img(alt='', src='marcas/asus.jpg')
														span.descripcion Zenfone GO
															//- z.line mesa + 6 sillas
														span.antes Precio Normal: S/ 499
														span.cyber Precio Oferta
														span.price
															| S/ 
															span 299
											.imagen
												img.centerv(alt='', src='productos/12.jpg')

		.row
			.sector_filtros.control-bar.stickIt
				.groupB
					a#btn_ofertas.btn.filter.regalos-top.bloque(href!= base_url +'online', data-seccion='Regalos Top', target='_top')
						span.iconress.gift
						span.text
							| Regalos Top
					a#btn_celulares.btn.filter.celulares-y-videojuegos.bloque(href!= base_url +'celulares-y-videojuegos/ver-todo', data-seccion='Celulares y Videojuegos', target='_top')
						span.iconress.celulares
						span.text.two
							| Celulares y 
							span Videojuegos
					a#btn_muebleria.btn.filter.muebleria.bloque(href!= base_url +'muebleria', data-seccion='Muebles y Hogar', target='_top')
						span.iconress.muebleria
						span.text
							| Muebles y Hogar

					a#btn_tv_video.btn.filter.tv-video.bloque(href!= base_url +'tv-video', data-seccion='Tv y Video', target='_top')
						span.iconress.video
						span.text TV y Video

					a#btn_laptops.btn.filter.laptops-y-tablets.bloque(href!= base_url +'laptops-y-tablets', data-seccion='Laptops y Tablets', target='_top')
						span.iconress.tecnologia
						span.text
							| Laptops y Tablets
					a#btn_dormitorio.btn.filter.dormitorio.bloque(href!= base_url +'dormitorio', data-seccion='Dormitorio', target='_top')
						span.iconress.dormitorio
						span.text Dormitorio
					a#btn_electrohogar.btn.filter.electrohogar.bloque(href!= base_url +'electrohogar/ver-todo', data-seccion='Electrohogar', target='_top')
						span.iconress.electrohogar
						span.text Electrohogar
					a#btn_bebe.btn.filter.moda.bloque(href!= base_url +'moda', data-seccion='Moda', target='_top')
						span.iconress.moda
						span.text
							| Moda
					a#btn_deporte.btn.filter.fitness.bloque(href!= base_url +'fitness', data-seccion='Fitness', target='_top')
						span.iconress.deporte
						span.text
							| Fitness
							//- span Bicicletas
					//- a#btn_decohogar.btn.filter.deco.bloque(href!= base_url +'deco', data-seccion='decohogar', target='_top')
						span.iconress.decohogar
						span.text Ripley Home
					a#btn_relojes.btn.filter.relojes-y-accesorios.bloque(href!= base_url +'belleza-y-accesorios', data-seccion='Relojes y Accesorios', target='_top')
						span.iconress.relojes
						span.text
							| Relojes y Accesorios
					a#btn_belleza.btn.filter.calzado-y-zapatillas.bloque(href!= base_url +'calzado-y-zapatillas', data-seccion='Calzado y Zapatillas', target='_top')
						span.iconress.belleza
						span.text
							| Calzado y Zapatillas
					a#btn_belleza.btn.filter.regalos-a-menos-de-200.menos200.bloque(href!= base_url +'regalos-a-menos-de-200', data-seccion='Regalos a menos de S/. 200', target='_top')
						span.m200 Regalos a menos de
						span.m200text
							em S/ 
							| 200
					//- a#btn_bebe.btn.filter.infatil.bloque(href!= base_url +'infatil', data-seccion='bebe', target='_top')
						span.iconress.bebe
						span.text.two
							| Infantil
							//- span Bebés
					

		.container.container-calls
			section#calls
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C1.png')
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C2.png')
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C3.png')
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C4.png')
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C5.png')
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C6.png')
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C7.png')
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C8.png')
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C9.png')
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C10.png')
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C11.png')
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C12.png')
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C13.png')
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C14.png')
				.coupon.col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
					a(href='#')
						img(src='llamados/C15.png')
				