extends ./layout/layout.pug

block title
	title #{title} - Ripley

block content
	- var base_url = 'http://simple.ripley.com.pe/campaign/ofertas/cierrapuertas-'

	- var menu = [{name:'TV y Videojuegos', hash:'tv-y-video', href:'tv-video', icon:'video'}, {name:'Cómputo', hash:'computo', href:'computo', icon:'tecnologia'}, {name:'Celulares y Tecnología', hash:'celulares', href:'celulares-y-tecnologia', icon:'celulares'}, {name:'Línea Blanca', hash:'electrohogar', href:'electrohogar', icon:'electrohogar'}, {name:'Muebles', hash:'muebles', href:'muebles', icon:'muebleria'}, {name:'Dormitorio', hash:'dormitorio', href:'dormitorio', icon:'dormitorio'}, {name:'Hogar', hash:'ripley-home', href:'deco', icon:'decohogar'}, {name:'Deporte', hash:'deporte', href:'deporte', icon:'deporte'}, {name:'Accesorios y Belleza', hash:'belleza-y-accesorios', href:'belleza-y-accesorios', icon:'relojes'}, {name:'Calzado', hash:'calzado', href:'calzado', icon:'belleza'}, {name:'Juguetes y Bebés', hash:'infantil', href:'infantil', icon:'bebe'}, {name:'Moda', hash:'moda', href:'moda', icon:'moda'}]

	include includes/mixins.pug

	.container-fluid
		nav.nav-bar
			.current-category.centervh.align-left
				| Cierrapuertas Online
			button#btn-mobile
				span
				span
				span
			ul#main-menu.menu
				//- li
					a.lnk-menu(href!= base_url +'online')
						| Mejores descuentos
						//- | Regalos TOP para mamá
				each item in menu
					li
						a.lnk-menu(href!= base_url.replace('campaign', item.hash) + item.href, data-seccion!= item.name, target='_top')
							//- span.iconress(class!= item.icon)
							//- span.text
							= item.name
			//- ul#main-menu.menu
				li
					a.lnk-menu(href!= base_url +'online')
						| Mejores descuentos
						//- | Regalos TOP para mamá
				li
					a.lnk-menu(href!= base_url +'tv-video')
						| TV y Video
						//- | TV y Audio
				li
					a.lnk-menu(href!= base_url +'computo')
						| Cómputo
						//- | Laptops y Tablets
				li
					a.lnk-menu(href!= base_url +'celulares-y-entretenimiento')
						| Celulares
						//- | Celulares y Videojuegos
				li
					a.lnk-menu(href!= base_url +'electrohogar')
						| Electrohogar
				li
					a.lnk-menu(href!= base_url +'muebleria')
						| Muebles
				li
					a.lnk-menu(href!= base_url +'dormitorio')
						| Dormitorio
				li
					a.lnk-menu(href!= base_url +'deco')
						| Ripley Home
				li
					a.lnk-menu(href!= base_url +'deporte')
						| Deporte
						//- | Máquinas y Bicicletas
				li
					a.lnk-menu(href!= base_url +'belleza-y-accesorios')
						| Belleza y Accesorios
						//- | Relojes y Accesorios
				li
					a.lnk-menu(href!= base_url +'calzado')
						| Calzado
						//- | Calzado y Zapatillas
				li
					a.lnk-menu(href!= base_url +'infantil')
						| Infantil
						//- | Jueguetes y Bebés
				li
					a.lnk-menu(href!= base_url +'moda')
						| Moda
						//- | Jueguetes y Bebés
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
				#header-banner
					#sponsor
						include ./includes/banner-catalogo.pug

		.row
			.sector_filtros.control-bar.stickIt
				.groupB
					//- a#btn_ofertas.btn.filter.online.bloque(href!= base_url +'online', data-seccion='ver todo', target='_top')
						span.iconress.gift
						span.text.two
							| Mejores 
							span descuentos

					a#btn_tv_video.btn.filter.tv-video.bloque(href!= base_url +'tv-video', data-seccion='TV y Videojuegos', target='_top')
						span.iconress.video
						span.text TV y Videojuegos
					a#btn_laptops.btn.filter.computo.bloque(href!= base_url +'computo', data-seccion='Cómputo', target='_top')
						span.iconress.tecnologia
						span.text.two
							| Cómputo
							//- span y Tablets
					a#btn_celulares.btn.filter.celulares-y-entretenimiento.bloque(href!= base_url +'celulares-y-entretenimiento', data-seccion='Celulares y Tecnología', target='_top')
						span.iconress.celulares
						span.text.two
							| Celulares y Tecnología
							//- span Videojuegos
					a#btn_electrohogar.btn.filter.electrohogar.bloque(href!= base_url +'electrohogar', data-seccion='Línea Blanca', target='_top')
						span.iconress.electrohogar
						span.text Línea Blanca

					a#btn_muebleria.btn.filter.muebleria.bloque(href!= base_url +'muebleria', data-seccion='Muebles', target='_top')
						span.iconress.muebleria
						span.text Muebles

					a#btn_dormitorio.btn.filter.dormitorio.bloque(href!= base_url +'dormitorio', data-seccion='Dormitorio', target='_top')
						span.iconress.dormitorio
						span.text Dormitorio
					a#btn_decohogar.btn.filter.deco.bloque(href!= base_url +'deco', data-seccion='Hogar', target='_top')
						span.iconress.decohogar
						span.text Hogar
					a#btn_deporte.btn.filter.deporte.bloque(href!= base_url +'deporte', data-seccion='Deporte', target='_top')
						span.iconress.deporte
						span.text.two
							| Deporte
							//- span Bicicletas
					a#btn_relojes.btn.filter.belleza-y-accesorios.bloque(href!= base_url +'belleza-y-accesorios', data-seccion='Accesorios y Belleza', target='_top')
						span.iconress.relojes
						span.text.two
							| Accesorios
							span y Belleza
					a#btn_belleza.btn.filter.calzado.bloque(href!= base_url +'calzado', data-seccion='Calzado', target='_top')
						span.iconress.belleza
						span.text.two
							| Calzado
							//- span y Zapatillas
					a#btn_bebe.btn.filter.infatil.bloque(href!= base_url +'infatil', data-seccion='Juguetes y Bebés', target='_top')
						span.iconress.bebe
						span.text.two
							| Juguetes y Bebés
							//- span Bebés
					a#btn_bebe.btn.filter.moda.bloque(href!= base_url +'moda', data-seccion='Moda', target='_top')
						span.iconress.moda
						span.text.two
							| Moda