extends ../layout/layout2.pug

block content
	- var base_url = 'http://www.ripley.com.pe/minisitios/campana/cyber-mama/'
	if test=="dev"
		- var base_url = '../'

	#cyber(style='margin:0')
		// CELULARES Y VIDEOJUEGOS
		.slider-banner#slider-tecnologia
			span.slider-prev
			span.slider-next
			.banner
				// Slide CELULARES 1
				.slide
					img.logo-campaign.centerh(src!= base_url + 'assets/logo-campaign.png')
					.calls
						.column.izq.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
							//- .discount
								.percent 40
								.simbol
									| %
									span DSCTO.
							a.call-left(href='#')
								.imagen
									.bg-image.centervh
									img.centerv(alt='', src!= base_url + 'productos/TECNOLOGIA-01.png')
								.content
									.wrapper.product
										.table
											span.aon
											span.marca
												img(alt='', src!= base_url + 'marcas/asus.png')
											span.descripcion ZENFONE 3 MAX
												.line 4G
											span.antes Precio Normal: S/ 1,699
											span.cyber Precio Oferta
											span.price
												| S/ 
												span 649
						.column.der.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
							//- .discount
								.percent 70
								.simbol
									| %
									span DSCTO.
							a.call-right(href='#')
								.content
									.wrapper.product
										.table
											span.aon
											span.marca
												img(alt='', src!= base_url + 'marcas/asus.png')
											span.descripcion ZENFONE 3 NEGRO
												.line + LENTES VR
											span.antes Precio Normal: S/ 2,299
											span.cyber Precio Oferta
											span.price
												| S/ 
												span 1,199
								.imagen
									.bg-image.centervh
									img.centerv(alt='', src!= base_url + 'productos/TECNOLOGIA-02.png')

				// Slide CELULARES 2
				.slide
					img.logo-campaign.centerh(src!= base_url + 'assets/logo-campaign.png')
					.calls
						.column.izq.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
							//- .discount
								.percent 40
								.simbol
									| %
									span DSCTO.
							a.call-left(href='#')
								.imagen
									.bg-image.centervh
									img.centerv(alt='', src!= base_url + 'productos/TECNOLOGIA-03.png')
								.content
									.wrapper.product
										.table
											span.aon
											span.marca
												img(alt='', src!= base_url + 'marcas/samsung.png')
											span.descripcion SMARTPHONE
												.line GALAXY J5
											span.antes Precio Normal: S/ 1,499
											span.cyber PRECIO OFERTA
											span.price
												| S/  
												span 699
											//- span.note.f-size9
												| *Disponible en 1 y 3 cuerpos
											//- span.colores
												| Colores disponibles
											//- span.iconos-colores
												img(src!= base_url + 'marcas/color-negro.png')
												img(src!= base_url + 'marcas/color-blanco.png')
						.column.der.col-xs-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
							//- .discount
								.percent 70
								.simbol
									| %
									span DSCTO.
							a.call-right(href='#')
								.content
									.wrapper.product
										.table
											span.aon
											span.marca
												img(alt='', src!= base_url + 'marcas/canon.png')
											span.descripcion CÁMARA EOS REBEL
												.line COMBO 40 T6DC
											span.antes Precio Normal: S/ 2,599
											span.cyber Precio Oferta
											span.price
												| S/  
												span 1,979
								.imagen
									.bg-image.centervh
									img.centerv(alt='', src!= base_url + 'productos/TECNOLOGIA-04.png')