#sponsor-bc
	//- .logo-campaign.col-xs-12.col-md-5.col-lg-5
		a(href='#')
			img.logo-desktop(src='images/logo-campaign.png')
			img.logo-mobile(src='images/logo-campaign-mobile.png')
		//- .features
			.descripcion
				| Especial de 
				span
					| Organización
			//- .hasta
				| HASTA
			.porcentaje
				.number
					| 60
				.percent
					| %
					.dscto
						| DSCTO.
			.note
				| en miles de Muebles
			//- a.btn-buy(href="#")
				| Ver Ofertas
	//- .banner-slider
		#slider-bc
			.item
				//- .call
				a(href='#')
					img(src='slider/1.jpg', alt='')
			.item
				//- .call
				a(href='#')
					img(src='slider/2.jpg', alt='')
			.item
				//- .call
				a(href='#')
					img(src='slider/3.jpg', alt='')
