@media screen and (max-width: 1600px)
	#cyber
		.slider
			width 1100px
@media screen and (max-width: 1440px)
	#cyber
		.slider
			width 900px

@media screen and (max-width: 1024px)
	#cyber
		#sponsor
			max-width 1024px
			.slider-prev 
				left 1%
			.slider-next 
				right 1%
		.slider-prev 
			left 1% !important
			z-index 9999
		.slider-next 
			right 1% !important
			z-index 9999
		.slider-banner
			width 100%
			width 1024px
		.banner
			width 100%
		#cintillo-superior 
			width 100%
			background-size contain
			-webkit-background-size contain
		.control-bar
			.groupB
				display -ms-flexbox
				display -webkit-flex
				display flex
				-ms-flex-align center
				-webkit-align-items center
				-webkit-box-align center
				align-items center
				justify-content space-around
				flex-direction row
				height 70px
				.btn
					/*
					display -ms-flexbox
					display -webkit-flex
					display flex
					-ms-flex-align center
					-webkit-align-items center
					-webkit-box-align center
					align-items center
					justify-content center
					flex-direction row
						*/
					padding 0 3px
					height 100%
					.iconress
						margin-right 3px
						margin-top 0
					.text
						/* font-size 10px */
						top auto
						&.two
							top auto
							

		#cintillo-bottom 
			width 96%
			background-size contain
			-webkit-background-size contai
		.calls
			width 100%
		.column 
			&.izq
				.content
					margin-left 0
					margin-right 0
					padding-right 10px
				.imagen 
					margin-right 0px
			&.der
				.content
					margin-right 0
					margin-left 0
					padding-left 10px
				.imagen 
					margin-left 0px
			.imagen
				width 55%
			.content
				width 45%
				.wrapper
					&.until
						padding-top 45%

		.sector_filtros 
			&.sticky 
				.groupB 
					.btn 
						.iconress 
							display none
			&.groupB 
				.btn 
					.iconress 
						display none
		.notas
			width 100%
			height 20px

@media screen and (max-width: 992px)
	#cyber
		.nav-bar
			&.fixed
				/* top 56px */
		#btn-mobile 
			display block
		#sponsor
			margin 60px 0 10px
			height 310px
			max-width 960px
		.banner 
			height 294px
		.slide 
			height 294px
		.menu 
			width 100%
			padding 0
		.image 
			width 75%
		.column 
			.imagen 
				width 50%
				height 300px
			.content 
				width 50%
				.wrapper 
					height 300px
					padding-top 60%
				span 
					&.aon 
						font-size 1.4vw
					&.descripcion 
						font-size 1.8vw
						margin-bottom 4px
					&.antes 
						font-size 1.5vw
			.fullimage
				width 100%
				height 225px
				img
					margin-top 22.5%
					width 90%
					height auto
					position relative
					left auto
					transform translate(0,-50%)
					-webkit-transform translate(0,-50%)
			&.izq 
				.discount 
					bottom 0px
					left 0px
					background-size 72.5%
					background-repeat no-repeat
					background-position left bottom
					.percent 
						padding 0 0 2px 2px
				.content 
					margin-right 0
					padding 0 10px
			&.der 
				.discount 
					bottom 0px
					right 0px
					background-size 72.5%
					background-repeat no-repeat
					background-position right bottom
					.percent 
						padding 0 0 2px 43px
					.simbol 
						width 10%
				.content 
					margin-left 0
					padding 0 10px
			.imagen 
				.bg-image
					width 190px
					height 190px
			.content
				.wrapper
					&.product
						padding-bottom 30%
					&.until
						padding-top 60%
				span
					&.antes
						font-size 1.3vw
					&.cyber
						font-size 1.75vw
					&.hasta
						font-size 1.9vw
					&.note
						font-size 2vw
						
				.price
					.number
						font-size 11.5vw
					.percent
						font-size 6vw
					.dscto
						font-size 2.25vw

		.bx-wrapper 
			.bx-viewport 
				height 294px !important

		.call-left, .call-right 
			float none
			position relative
			z-index 1

		.percent 
			font-size 20px
		.simbol 
			font-size 12px
			padding-bottom 2px
		
		.logo-campaign 
			/* top 75px */
			// width 130px
		.calls 
			width 100%
			background-size cover
			-webkit-background-size cover
			height 294px
			/* background none 
			border 7.5px solid #d5dde6
				*/
			&::before 
				height 280px !important
			&::after 
				height 280px !important
				right -10px
		#sponsor 
			max-width 960px
			.slider-next 
				top 50%
			.slider-prev 
				top 50%
		.slider-next 
			top 50%
		.slider-prev 
			top 50%
		.cintillo-top-mobile 
			display none
		.sector_filtros 
			display none !important
		.collapse-movil
			.menu
				top 160px

		.nav-bar
			width 100%
			display block
			z-index 11
			&.fixedd
				top 48px
		.nav
			width 100%
		.menu
			margin-right 0
			margin-left 0
		#btn-mobile
			display block
		#main-menu
			height auto
			display block
			padding-left 0
			padding-right 0
			li
				margin-bottom 0
				.active
					color white
				a
					width 100%
		#main-menu
			li
				width 50%
				float left
				clear none
				&:nth-child(1), &:nth-child(2)
					border-top 1px solid #fff
				&:nth-child(odd)
					border-right 1px solid #fff
				&:last-child
					margin 0 auto
					float none
		.menu
			width 100%
			clear both
			overflow hidden
			background-color black
			box-shadow none
			overflow hidden
			border-radius 0
			height auto
			bottom auto
			padding-top 40px
			li
				float left
				clear both
				border-bottom 1px solid #fff
				width 100%
				&nth-child(11)
					border none
				a
					display block
					color white
					height 30px
					justify-content center
					.icon
						display none
				.active
					background-color black
					color white

@media screen and (max-width: 768px)
	#sector_productos
		.fixed
			/* top 56px !important */
	#cyber
		// overflow hidden
		#sponsor
			max-width 768px
		.slider-banner
			max-width 768px
		#header-banner
			height auto
		#home
			/* background-image url(../images/bg-home-mobile.png) */
			height 100vh
			background-position center
		.call
			width 200px
			background none
			left 50%
			vendor('transform', translate(-50%,0))
			top 0
		.scroll
			top 40%
		
		#cintillo-superior
			img
				width 80%
				height auto
		.notes
			img
				height 65%
				width auto
		.box-center
			padding 0 10% !important
		
		.column 
			&.izq 
				.content 
					margin-right 0
					// padding 0 10px 0 0 !important
			&.der 
				.content 
					margin-left 0
					// padding 0 0 0 10px !important
			.imagen 
				.bg-image
					width 190px
					height 190px

@media screen and (max-width: 767px)
	#cyber
		margin-bottom 0
		.nav-bar
			position absolute
			top 0
			left 0
			width 100%
			height 60px
			margin 0
		#sponsor 
			width 100%
			/* height auto */
			position relative
			overflow hidden
			/* margin-bottom 0 */
			max-width none
		.slider-banner
			width 100%
			max-width none
		.banner 
			padding-top 0px
			overflow hidden
		.slide 
			height 294px
			.col-xs-12 
				width 50%
		#header-banner .row .col-xs-12, #header-banner .row .col-sm-12, #header-banner .row .col-md-12, #header-banner .row .col-lg-12, #header-banner .row .col-xl-12 
			padding 0
		.calls .col-xs-12,.calls .col-sm-12, .calls .col-md-12, .calls .col-lg-12, .calls .col-xl-12 
			padding 0 !important

		.bx-wrapper 
			.bx-controls 
				bottom 5%
		#cintillo-superior
			width calc(100vw - 60px)
			background-size 300%
			background-repeat no-repeat
			margin-left 10px
			img
				width auto
				height auto
		.cintillo-top-mobile 
			display block
			width auto

		#sponsor 
			.slider-prev 
				left 10px
			.slider-next 
				right 10px
		.slider-prev 
			left 10px
		.slider-next 
			right 10px
		.column 
			&.izq 
				.content 
					// padding 0 20px 0 0 !important
			&.der 
				.content 
					// padding 0 0 0 20px !important
			.imagen
				.bg-image
					width 25vw
					height 25vw
			.content 
				span
					&.descripcion
						font-size 1.7vw
				.price
					.number 
						font-size 11vw
						display table-cell
					.percent 
						// font-size 55px
					.dscto 
						// font-size 14px
					&.porcentual
						margin-bottom 20px
						&::after
							bottom -10px
						&::before
							left 35% !important
				.table
					&.percent
						.cyber
							margin-left 20%
						.price 
							&.porcentual
								margin-left 20%
				.wrapper
					padding-top 72.5%
					&.product
						padding-bottom 50%
						
		.logo-campaign
			width 220px
			/* top 75px */
		.cintillo-cyber 
			display none
		.cintillo-top-desktop 
			display none
		.cintillo-top-mobile 
			display block
			width auto
		.cintillo-bottom-desktop 
			display none
		.cintillo-bottom-mobile 
			display block
			width auto
		.calls 
			/* background #d3dee4
			border 7.5px solid #d3dee4 */
			height 294px
		.notas
			padding 12.5px 0 !important
		.notes
			img
				height 55%
				width auto
		.box-center
			padding 0 10% !important
		.collapse-movil
			.menu
				top 145px
		#main-menu
			li
				width 50%
				float left
				clear none
				&:nth-child(1), &:nth-child(2)
					border-top 1px solid #fff
				&:nth-child(odd)
					border-right 1px solid #fff
				&:last-child
					margin 0 auto
					float none
					// border none

@media screen and (max-width: 640px)
	#cyber
		.logos
			margin-bottom 30px
		.image 
			width 72.5%
			img 
				width 100%
				height auto
		.slide 
			.col-xs-12 
				/* width 100% */
		.column 
			&.izq 
				.content 
					padding 0 7.5px
			&.der 
				.content 
					padding 0 7.5px
			.content 
				span
					&.antes 
						font-size 1.2vw
					&.aon 
						font-size 1.8vw
					&.descripcion 
						// font-size 1.9vw
				.price 
					font-size 3vw
					span 
						font-size 9vh
				.legales 
					font-size 1.4vw
			.imagen
				.bg-image
					// width 140px
					// height 140px
			.content 
				.price
					.number 
						font-size 12vw
						display table-cell
					.percent 
						// font-size 48px
					.dscto 
						// font-size 14px
					&.porcentual
						&::before
							left 35% !important
				span
					&.note
						font-size 2.1vw
				.wrapper
					&.product
						padding-bottom 62.5%
		.bx-wrapper 
			.bx-controls 
				/* bottom 7.5% */
		.logo-campaign
			width 200px
		.box-center
			padding 0 10% !important
		.collapse-movil
			.menu
				top 140px
		#main-menu
			li
				a
					height 34px
					line-height 34px
					font-size 2vw

@media screen and (max-width: 480px)
	#cyber
		margin -30px 0 0 0
		#header-banner
			height auto
			overflow auto
		#sponsor
			height 535px
			height auto
			height 492px
			/* overflow auto */
			.slider-prev
				left 15px
				top 45%
			.slider-next
				right -17px
				top 45%
		.slider-prev
			left 15px
			top 45%
		.slider-next
			right -17px
			top 45%
		.nav-bar
			clear both
			margin-bottom 20px

		.izq 
			.column 
				.content 
					padding 0 0 0 30px !important
		.der 
			.column 
				.content 
					padding 0 30px 0 0 !important
		.cintillo-top-mobile
			width auto
			height 90%
		.banner 
			width 100%
			height 450px
			/* background-image url(../images/bg-banner.jpg) */
			overflow initial
			background-size cover
			-webkit-background-size cover
			background-position center
		.slide 
			padding-bottom 10px
			padding-bottom 0
			height auto
			.col-xs-12 
				width 100%
		.image 
			width 62.5%
			height auto
			img 
				width 100%
				height auto
		.calls 
			/* background-image url(../images/logo-cybermonday-mobile.png) */
			background-repeat no-repeat
			background-position center 55%
			background-size auto
			/* border 7.5px solid #d3dee4 */
			height 440px
		.column .imagen, 
			.column .content .wrapper 
			height 240px
			height 230px
		.one
			height 50%
		.column 
			.content 
				.wrapper
					padding-top 37.5%
					&.product
						justify-content center
						padding-bottom 0
					&.until
						justify-content center
						padding-top 0
				span 
					&.hasta 
						font-size 3.4vw
					&.descripcion 
						font-size 3.6vw
					&.antes 
						font-size 2vw
					&.cyber 
						font-size 3vw
						&.note 
							font-size 2.8vw
						&.big 
							font-size 4vw
					&.aon 
						font-size 2.5vw
					&.colores 
						font-size 3.25vw
					&.note 
						font-size 4vw
				.price 
					font-size 4.5vw
					span 
						font-size 7vw
					&.porcentual 
						letter-spacing -2px
						&::before
							left 33% !important
							transform auto !important
							-webkit-transform auto !important
							bottom 0
							width 33%
						.number
							padding-right 3px
					.number 
						font-size 19vw
					.percent 
						font-size 9vw
					.dscto 
						font-size 3.25vw

				.accion 
					font-size 3.25vw
				.legales 
					font-size 2.4vw
			&.izq 
				.content 
					padding 0 20px 0 0 !important
				.imagen
					margin 0 2.5%
			&.der 
				.content 
					padding 0 0 0 20px !important
				.imagen
					margin 0 2.5%
			.fullimage
				img
					margin-top 5%
		.slide-note
			bottom 3%
		.bx-wrapper 
			.bx-controls 
				bottom 4.5%
			.bx-viewport 
				height 475px !important
		.logo-cyber 
			img 
				width 87.5%
				height auto
				float left
		.column
			.imagen
				width 45%
				.bg-image
					width 150px
					height 150px

		.bx-wrapper 
			.bx-viewport 
				height 475px !important
		.logo-campaign
			width 40%
			left 50%
			top 47.5%
			transform translate(-50%, -50%)
			-webkit-transform translate(-50%, -50%)
		.current-category
			font-size 3.5vw
		.notes
			&::after
				display none
		.notes
			margin-bottom 7.5px
			img
				height 90%
				width auto
		#cintillo-superior
			width calc(100vw - 60px)
			float left
			img
				width 90%
				height auto
		.box-center
			padding 0 15% !important
		.collapse-movil
			.menu
				top 160px
		#main-menu
			li
				//width 100%
				float left !important
				clear none !important
				display table
				a
					display table-cell
					vertical-align middle
					height 36px
					line-height normal
					font-size 2.95vw

@media screen and (max-width: 400px)
	#cyber
		.breadcrumb
			.circles
				margin-top 10px
				clear both
		#products
			.slide
				width 100%
@media screen and (max-width: 360px)
	#cyber
		.logo-campaign
			width 42.5%
		.breadcrumb
			.circles
				margin-top 10px
				clear both
		.current-category
			padding 0 2.5%
		.column
			.content
				span
					&.descripcion
						font-size 3.25vw

@media screen and (max-width: 320px)
	#cyber
		.logos
			margin-top 25%

		.contents
			width 100%
			margin 5% auto

			.thank
				font-size 6.5vw
				height 40px
				padding-top 17.5px
			.text
				height 85px
		.column
			.imagen 
				.bg-image
					width 120px
					height 120px
		#main-menu
			li
				a
					font-size 3.1vw
