#sponsor-bc
	//- a.area.view-catalog(href='#')
		img(src='images/view-catalog.png', alt='')
	.logo-campaign
		a(href='#')
			img(src='assets/logo-campaign.png')
	.banner-slider
		//- span#slider-prev
		//- span#slider-next
		#slider-bc
			.item
				//- .call
				a(href='#')
					img(src='slider/1.png', alt='')
			.item
				//- .call
				a(href='#')
					img(src='slider/2.png', alt='')
			.item
				//- .call
				a(href='#')
					img(src='slider/3.png', alt='')
			//- .item
				//- .call
				a(href='#')
					img(src='slider/4.png', alt='')
			//- .item
				//- .call
				a(href='#')
					img(src='slider/5.png', alt='')
			//- .item
				//- .call
				a(href='#')
					img(src='slider/6.png', alt='')
			//- .item
				a(href='#')
					img(src='slider/7.png', alt='')
			//- .item
				a(href='#')
					img(src='slider/9.png', alt='')
			//- .item
				a(href='#')
					img(src='slider/11.png', alt='')
			//- .item
				a(href='#')
					img(src='slider/12.png', alt='')
			//- .item
				a(href='#')
					img(src='slider/13.png', alt='')
			//- .item
				//- .call
				a(href='#')
					img(src='slider/14.png', alt='')
			//- .item
				a(href='#')
					img(src='slider/15.png', alt='')
			//- .item
				a(href='#')
					img(src='slider/16.png', alt='')
			//- .item
				a(href='#')
					img(src='slider/17.png', alt='')
			//- .item
				a(href='#')
					img(src='slider/18.png', alt='')